<link rel="stylesheet" href="{{ 'ab-test.css' | asset_url }}" media="print" onload="this.media='all'">
{% assign sub_folder = '' %}
{% if localization.market.handle == 'au' %}
  {% assign sub_folder = '/en-au' %}
{% elsif localization.market.handle == 'ca' %}
  {% assign sub_folder = '/en-ca' %}
{% elsif localization.market.handle == 'eu' %}
  {% assign sub_folder = '/en-eu' %}
{% elsif localization.market.handle == 'uk' %}
  {% assign sub_folder = '/en-gb' %}
{% elsif localization.market.handle == 'international' %}
  {% assign sub_folder = '/en-int' %}
{% else %}
  {% assign sub_folder = '' %}
{% endif %}

<div class="shop-all-tab-bar">
    <ul>
      <li class="best-sellers"><a href="/collections/best-sellers" {% if request.path contains '/products/best-sellers' %}class="shop-all-active"{% endif %}>Best Sellers</a></li>
      <li><a href="{{ sub_folder }}/products/" {% if request.path == '/products' or request.path == '/' %}class="shop-all-active"{% endif %}>Shop all</a></li>
            

      <li><a href="{{ sub_folder }}/products/mira-kits" {% if request.path contains '/products/mira-kits' %}class="shop-all-active"{% endif %}>Starter Kit & Bundles</a></li>

       <li><a href="{{ sub_folder }}/products/mira-wands" {% if request.path contains '/products/mira-wands' %}class="shop-all-active"{% endif %}>Mira Wands</a></li>
       
       <li><a href="{{ sub_folder }}/products/virtual-consultations" {% if request.path contains '/products/virtual-consultations' %}class="shop-all-active"{% endif %}>Virtual Consultations</a></li>
 
      <li><a href="{{ sub_folder }}/products/male-fertility" {% if request.path contains '/products/male-fertility' %}class="shop-all-active"{% endif %}>Male Fertility</a></li>
       <li><a href="{{ sub_folder }}/products/more-for-fertility" {% if request.path contains '/products/more-for-fertility' %}class="shop-all-active"{% endif %}>More for Fertility</a></li>
    </ul>
 </div>