
{% assign product_handle = string_variable %}
{% assign sub_folder = sub_folder %}
{% assign number = num %}
<div class="subscriptions">
    {% if all_products[product_handle].selling_plan_groups != blank %}
      {% assign sellingPlanId = all_products[product_handle].selling_plan_groups[0].selling_plans[0].id %}
    {% endif %}
    <form method="post" action="{{ sub_folder }}/cart/add" class="add-to-cart endrock-atc" data-selling-plan="{{ sellingPlanId }}">
      <input type="hidden" name="quantity" value="1">
      <input type="hidden" name="id" value="{{ all_products[product_handle].variants.first.id }}" />
    {% if all_products[product_handle].selling_plan_groups != blank %}                   
        <label for="subscription-endrock{{ number }}" class="subscriptions-text card-style subscription-wrapper" data-subscription-label>
          <input type="radio" name="subscription-type" id="subscription-endrock{{ number }}" data-subscription-input/>
          <div>Subscribe & save <span class="subscription-highlight">10% OFF</span>
          <p class="text-span">Cancel or change your subscription online any time</p></div>
        </label>
        <label for="onetime-endrock{{ number }}" class="subscriptions-text card-style one-time-wrapper" data-one-time-purchase>
          <input type="radio" name="subscription-type" id="onetime-endrock{{ number }}"/>
          One-time purchase
        </label>
    {% endif %}
      <input name="add" value="Add to Cart" type="submit" class="atc-button" />
    </form>
    
      <button class="subscription-btn-endrock">Add Subscription</button>
      <button class="resetSubscription-btn-endrock">Reset Subscription</button>
   
</div>

<script>
  try {
    const product = {{ all_products[product_handle].selling_plan_groups[0].selling_plans[0] | json }};
  } catch (error) {
    console.error('Error in script:', error);
  }
</script>

