
<div class="hormone-lavel-sec">
<div class="container">
<div class="row">
  <div class="col-md-6">
    <div class="hormone-col">
      <h2>Understand your hormone levels like never before</h2>
      <p>See your hormone levels and values through easy-to-understand charts on the Mira App. Understand how they interact with each other or view them individually.</p>
      <div class="app-btn-row">
        <a target="_blank" href="https://apps.apple.com/us/app/mira-fertility-tracker/id1434970941"><img src="{{ 'apple-badge.svg' | file_url }}" alt="app store"></a>
         <a target="_blank" href="https://play.google.com/store/apps/details?id=mira.fertilitytracker.android_us&hl=en_US"><img src="{{ 'play-store-badge.svg' | file_url }}" alt="google play"></a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="hormone-lavel-img-sec">
      <ul>
        <li>
          <img src="{{ 'harmoan_lavel01.png' | file_img_url: '' }}" alt="hormon1">
        <p>See personalized numeric LH, E3G, PdG and FSH results.</p>
        </li>
        <li>
          <img src="{{ 'harmoan_lavel02.png' | file_img_url: '' }}" alt="hormon1">
        <p>See how it changes throughout your cycle.</p>
        </li>
        <li>
          <img src="{{ 'harmoan_lavel03.png' | file_img_url: '' }}" alt="hormon1">
        <p>Get fertility insights based on your unique results.</p>
        </li>
      </ul>
      <div class="app-btn-row">
        <a href="app-store-btn"><img src="{{ 'apple-badge.svg' | file_url }}" alt="app store"></a>
         <a href="googleplay-btn"><img src="{{ 'play-store-badge.svg' | file_url }}" alt="google play"></a>
      </div>
    </div>
  </div>
</div>
  
</div>
  
</div>




{% schema %}
  {
    "name": "App Screens With Cta",
    "settings": [],
    "presets": [
      {
        "name": "App Screens With Cta"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}