<div class="how-to-conception padd-t-b-100">
   <div class="container">
      <div class="heading-1 text-center">
         <h2>How to use The Ferti-lily<br> Conception Cup</h2>
         <p>Using The Ferti-lily Conception Cup is easy.</p>
      </div>
      <div class="row row-reverse-col">
         <div class="col-lg-6">
            <div class="can-cup-help-img text-right">
               <img src="{{ 'cup1.png' | file_img_url: '' }}" alt="img">
            </div>
         </div>
         <div class="col-lg-6">
            <div class="can-cup-help-col">
               <h2>Step 1</h2>
               <p>Before inserting the cup for the first time, boil it in pure water, pat it dry, and place it in the cotton bag (included).</p>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-6">
            <div class="can-cup-help-col">
               <h2>Step 2</h2>
               <p>If you are TTC through intercourse, once your partner has ejaculated, stay lying down, and grab the cup. Turn it inside out (A) 
                  and hold it with the stem pointing toward your feet. Place
               </p>
               <p>
                  one finger inside the upturned cup (B). If you are TTC with donor sperm, follow the same steps once you have introduced the sperm into the vagina.
               </p>
            </div>
         </div>
         <div class="col-lg-6">
            <div class="can-cup-help-img">
               <span>
               <img src="{{ 'A.png' | file_img_url: '' }}" alt="img">
               <i>A</i>
               </span>
               <span>
               <img src="{{ 'B.png' | file_img_url: '' }}" alt="img">
               <i>B</i>
               </span>
            </div>
         </div>
      </div>
      <div class="row row-reverse-col">
         <div class="col-lg-6">
            <div class="can-cup-help-img text-right">
               <span>
               <img src="{{ 'C.png' | file_img_url: '' }}" alt="img">
               <i>C</i>
               </span>
               <span>
               <img src="{{ 'D.png' | file_img_url: '' }}" alt="img">
               <i>D</i>
               </span>
            </div>
         </div>
         <div class="col-lg-6">
            <div class="can-cup-help-col">
               <h2>Step 3</h2>
               <p> Gently insert the upturned cup into your vagina (C). Once it reaches the top of your vaginal canal, hold the cup in place with the inserted finger, and at the same time, gently pull on 
                  the stem (use your other hand) to pop The Ferti-lily Cup back into its original shape (D).
               </p>
               <p>Look for the indents on the outside of the cup on either side of the stem using your fingers. If the cup is still inside out, you’ll barely be able 
                  to feel them. You can check where the indents are <strong> inserting the cup.</strong>
               </p>
               <p>You don’t need to worry if the cup is the right way round or not. Once the sperm is inside you, it’ll be closer to the cervix, and the cup will prevent it from flowing out.</p>
               <p>Leave The Ferti-lily Cup for from 20 minutes to 1 hour (max time).</p>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-6">
            <div class="can-cup-help-col">
               <h2>Step 4</h2>
               <p>Wash your hands. Get into a comfortable position. Reach for the stem of the cup with your fingers. Slowly pull on the stem until you feel the base of the cup at the opening of your vagina (Pictogram F).</p>
               <p>Gently remove the cup from your vagina, keeping it upright to prevent any spillage until you’re over a toilet or sink.</p>
               <p>Empty the contents, wash the cup thoroughly (15-20 seconds) using warm water, and store as directed (Pictogram G).</p>
            </div>
         </div>
         <div class="col-lg-6">
            <div class="can-cup-help-img">
               <span>
               <img src="{{ 'D-1.png' | file_img_url: '' }}" alt="img">
               <i>F</i>
               </span>
               <span>
               <img src="{{ 'G.png' | file_img_url: '' }}" alt="img">
               <i>G</i>
               </span>
            </div>
         </div>
      </div>
   </div>
</div>
{% schema %}
{
    "name": "CC How Use Cup",
    "settings": [],
    "presets": [
      {
        "name": "CC How Use Cup"
      }
    ]
}
{% endschema %}
{% stylesheet %}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}