<div class="panorama-sec-comparison ob-doctors-vs-coach coaching-coach-vs-ob">
  <div class="mira-plan-sec testkit-table-sec analyzer-table padd-t-b-80">
    <div class="container">
      <div class="heading-1 text-center">
        <h2>Fertility Coach or OB/GYN—which is best</h2>
        <p>Find support depending on your needs.</p>
      </div>
      <div class="table-responsive">
         <table class="table">
   <tbody>
     <tr>
       <th>
         <div clas="col1"> &nbsp; </div>
       </th>
       <th style="width:28.5%">
         <div class="col2">
           <span class="testkit-icon-col"></span>
           <h5>Fertility Coaching</h5>
         </div>
       </th>
       <th style="width:28.5%">
         <div class="col3">
           <span class="testkit-icon-col"></span>
           <h5>OB/GYN Consultation</h5>
         </div>
       </th>
       <th></th>
     </tr>
     <tr class="t_row">
       <td>
         <div class="col1">Review Mira charts</div>
       </td>
       <td>
         <div class="col2">
           <img class="plan-check-icon" src="{{ 'check_with_fill.svg' | file_url }}" width="40">
         </div>
       </td>
       <td>
         <div class="col3">
           <img class="plan-check-icon" src="{{ 'check_with_fill.svg' | file_url }}" width="40">
         </div>
       </td>
       <td></td>
     </tr>
     <tr class="t_row">
       <td>
         <div class="col1">Holistic approach</div>
       </td>
       <td>
         <div class="col2">
           <img class="plan-check-icon" src="{{ 'check_with_fill.svg' | file_url }}" width="40">
         </div>
       </td>
       <td>
         <div class="col3">
           <img class="plan-check-icon" src="{{ 'cross_with_border.svg' | file_url }}" width="40">
         </div>
       </td>
       <td></td>
     </tr>
     <tr class="t_row">
       <td>
         <div class="col1">Habit and lifestyle plan</div>
       </td>
       <td>
         <div class="col2">
           <img class="plan-check-icon" src="{{ 'check_with_fill.svg' | file_url }}" width="40">
         </div>
       </td>
       <td>
         <div class="col3">
           <img class="plan-check-icon" src="{{ 'cross_with_border.svg' | file_url }}" width="40">
         </div>
       </td>
       <td></td>
     </tr>
     <tr class="t_row">
       <td>
         <div class="col1">Review of medical records</div>
       </td>
       <td>
         <div class="col2">
           <img class="plan-check-icon" src="{{ 'cross_with_border.svg' | file_url }}" width="40">
         </div>
       </td>
       <td>
         <div class="col3">
           <img class="plan-check-icon" src="{{ 'check_with_fill.svg' | file_url }}" width="40">
         </div>
       </td>
       <td></td>
     </tr>
     <tr class="t_row">
       <td>
         <div class="col1">Diagnosis</div>
       </td>
       <td>
         <div class="col2">
           <img class="plan-check-icon" src="{{ 'cross_with_border.svg' | file_url }}" width="40">
         </div>
       </td>
       <td>
         <div class="col3">
           <img class="plan-check-icon" src="{{ 'check_with_fill.svg' | file_url }}" width="40">
         </div>
       </td>
       <td></td>
     </tr>
     <tr class="t_row">
       <td>
         <div class="col1">Medical treatment</div>
       </td>
       <td>
         <div class="col2">
           <img class="plan-check-icon" src="{{ 'cross_with_border.svg' | file_url }}" width="40">
         </div>
       </td>
       <td>
         <div class="col3">
           <img class="plan-check-icon" src="{{ 'check_with_fill.svg' | file_url }}" width="40">
         </div>
       </td>
       <td></td>
     </tr>
     
     <tr class="t_row">
       <td>
         <div class="col1">Initial consultation</div>
       </td>
       <td>
            <div class="price-with-button col2">
              <span class="table-price">45 min/$79</span>
              <form method="post" action="/cart/add" class="add-to-cart">
                <input type="hidden" name="quantity" value="1">
                <input type="hidden" name="id" value="{{ product.variants.first.id }}"/>
                <input name="add" value="Book Now" type="submit" class="btn-custom btn-pink btn-md" />
              </form>
            </div>
          </td>
       <td>
         <div class="price-with-button col3">
           <span class="table-price">30 min/$159</span>
            <a href="/products/telemed" class="order_now_button btn-custom btn-pink btn-md" target="_blank">Book Now</a>
         </div>
       </td>
       <td></td>
     </tr>
   </tbody>
 </table>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Coaching Coach Vs Ob",
    "settings": [],
    "presets": [
      {
        "name": "Coaching Coach Vs Ob"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}