<div class="mira-plan-sec testkit-table-sec padd-t-b-100">
  <div class="container">
    <div class="heading-1 text-center">
      <h2>How our approach is different </h2>
    </div>
    <div class="table-responsive">
      <table class="table">
        <tbody>
          <tr>
            <th>
              <h5 class="hide-dextop">Criteria</h5>
            </th>
            <th>
              <span class="testkit-icon-col"><img src="{{ 'testkit_table_icon01.png' | file_url }}"></span>
              <h5>Mira Confirm Fertility Wands</h5>
            </th>
            <th>
              <span class="testkit-icon-col"><img src="{{ 'testkit_table_icon02.png' | file_url }}"></span>
              <h5>Blood test at a lab</h5>
            </th>
            <th>
              <span class="testkit-icon-col"><img src="{{ 'testkit_table_icon03.png' | file_url }}"></span>
              <h5>Test strips</h5>
            </th>
          </tr>
          <tr>
            <td>A clear, numerical, easy-to-understand reading</td>
            <td><img class="plan-check-icon" src="{{ 'plan_check.svg' | file_url }}" width="36"></td>
            <td><img class="plan-check-icon" src="{{ 'plan_check.svg' | file_url }}" width="36"></td>
            <td><img src="{{ 'plan-cross.svg' | file_url }}" width="20"></td>
          </tr>
          <tr>
            <td>Non-invasive approach</td>
            <td><img class="plan-check-icon" src="{{ 'plan_check.svg' | file_url }}" width="36"></td>
            <td><img src="{{ 'plan-cross.svg' | file_url }}" width="20"></td>
            <td><img class="plan-check-icon" src="{{ 'plan_check.svg' | file_url }}" width="36"></td>
          </tr>
          <tr>
            <td>Results are always quantitatively crystal clear</td>
            <td><img class="plan-check-icon" src="{{ 'plan_check.svg' | file_url }}" width="36"></td>
            <td><img class="plan-check-icon" src="{{ 'plan_check.svg' | file_url }}" width="36"></td>
            <td><img src="{{ 'plan-cross.svg' | file_url }}" width="20"></td>
          </tr>
          <tr>
            <td>Take control  from the comfort of your home</td>
            <td><img class="plan-check-icon" src="{{ 'plan_check.svg' | file_url }}" width="36"></td>
            <td><img src="{{ 'plan-cross.svg' | file_url }}" width="20"></td>
            <td><img class="plan-check-icon" src="{{ 'plan_check.svg' | file_url }}" width="36"></td>
          </tr>
          <tr>
            <td>Test as many times as you need during the cycle</td>
            <td><img class="plan-check-icon" src="{{ 'plan_check.svg' | file_url }}" width="36"></td>
            <td><img src="{{ 'plan-cross.svg' | file_url }}" width="20"></td>
            <td><img class="plan-check-icon" src="{{ 'plan_check.svg' | file_url }}" width="36"></td>
          </tr>
          <tr>
            <td>Highly accurate results without blood</td>
            <td><img class="plan-check-icon" src="{{ 'plan_check.svg' | file_url }}" width="36"></td>
            <td><img src="{{ 'plan-cross.svg' | file_url }}" width="20"></td>
            <td><img src="{{ 'plan-cross.svg' | file_url }}" width="20"></td>
          </tr>
          <tr>
            <td>Getting personalized fertility tips & insights</td>
            <td><img class="plan-check-icon" src="{{ 'plan_check.svg' | file_url }}" width="36"></td>
            <td><img src="{{ 'plan-cross.svg' | file_url }}" width="20"></td>
            <td><img src="{{ 'plan-cross.svg' | file_url }}" width="20"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="btn-row-globel text-center padd-t-40"><a id="order_now_button" href="javascript:void(0)" class="btn-custom btn-pink btn-lg">Order Now</a></div>
  </div>
</div>
{% schema %}
  {
    "name": "Cw-ApproachIsDifferent",
    "settings": [],
    "presets": [
      {
        "name": "Cw-ApproachIsDifferent"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
