<div class="how-use-sec how-use-four-col-sec padd-t-b-100">
  <div class="container">
    <div class="heading-1">
      <h2>Using the Mira Confirm Wands is easy</h2>
      <p>*Before each test, push the power button to turn the Monitor on. Then, launch the Mira App to make sure both devices are linked and syncing.</p>
    </div>
  </div>
  <div class="how-use-sec-inner">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="how-use-col how-step-1 FadeUp">
            <h3>Dip.</h3>
            <p>
              Dip the wand into your urine sample for 10 seconds.
              <span class="how-use-note">We recommend you use your first-morning urine or limiting fluid intake for two hours before testing.</span>
            </p>
            <div class="how-use-img">
              <div class="how-to-column-image">
                <img class="how-to-image" src="{{ 'cw-how-mira-works1.png' | file_img_url: '' }}" alt="">
                <img class="how-to-image-line-1" src="{{ 'green-line-animation.svg' | file_url }}">
                <img class="how-to-image-line-2" src="{{ 'pink-line-animation.svg' | file_url }}">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="how-use-col how-step-2 FadeUp">
            <h3>Insert.</h3>
            <p>
              Insert the wand into 
              the Mira Monitor.
            </p>
            <div class="how-use-img">
              <div class="how-to-column-image">
                <img class="how-to-image" src="{{ 'cw-how-mira-works2.png' | file_img_url: '' }}" alt="">
                <img class="how-to-image-line-1" src="{{ 'green-line-animation.svg' | file_url }}">
                <img class="how-to-image-line-2" src="{{ 'pink-line-animation.svg' | file_url }}">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="how-use-col how-step-3 FadeUp">
            <h3>Wait.</h3>
            <p>
              Wait approximately 16 minutes. You will see a countdown timer on 
              the Mira Monitor.
            </p>
            <div class="how-use-img">
              <div class="how-to-column-image">
                <img class="how-to-image" src="{{ 'cw-how-mira-works3.png' | file_img_url: '' }}" alt="">
                <img class="how-to-image-line-1" src="{{ 'green-line-animation.svg' | file_url }}">
                <img class="how-to-image-line-2" src="{{ 'pink-line-animation.svg' | file_url }}">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="how-use-col how-step-3 how-step-4 FadeUp">
            <h3>Results!</h3>
            <p>
              Take control of your fertility journey with this information. All results are saved and synced into the Mira App.
            </p>
            <div class="how-use-img">
              <div class="how-to-column-image">
                <img class="how-to-image" src="{{ 'cw-how-mira-works4.png' | file_img_url: '' }}" alt="">
                <img class="how-to-image-line-1" src="{{ 'green-line-animation.svg' | file_url }}">
                <img class="how-to-image-line-2" src="{{ 'pink-line-animation.svg' | file_url }}">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Cw How To Use",
    "settings": [],
    "presets": [
      {
        "name": "Cw How To Use"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
