<div class="mira-plan-sec mira-wands-table padd-t-b-100">
  <div class="container">
    <div class="heading-1 text-center">
      <h2>Mira Wands</h2>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="mira-plan-col plan-item-1">
          <div class="plan-img-col"><img src="{{ 'mira_analyzer_Test_wands.png' | file_img_url: '' }}" /></div>
          <div class="analyzer-mark"><img src="{{ 'LH.png' | file_img_url: '' }}" /></div>
          <h4><a href="/products/fertility-test-wands">Mira Fertility Wands</a></h4>
          <p>The simple disposable urine test Wands accurately track luteinizing hormone to identify both fertile and infertile days. Must be used together with the Mira Monitor.</p>
        </div>
      </div>
      <div class="col-4">
        <div class="mira-plan-col plan-item-1">
          <div class="plan-img-col"><img src="{{ 'mira_fertility_plus_wands.png' | file_img_url: '' }}" /></div>
          <div class="analyzer-mark"><img src="{{ 'LH.png' | file_img_url: '' }}" /> <img src="{{ 'E3G.png' | file_img_url: '' }}" /></div>
          <h4><a href="/products/fertility-plus-test-wands">Mira Fertility Plus Wands</a></h4>
          <p>Mira Fertility Plus Wands measure Estrogen-Estradiol Metabolite (E3G) and Luteinizing Hormone (LH) levels at home and work with the current Mira Monitor. You are able to see your Estrogen and LH levels, know your cycle phases, hormone patterns, and all fertile days and infertile days.</p>
        </div>
      </div>
      <div class="col-4">
        <div class="mira-plan-col plan-item-1">
          <div class="plan-img-col"><img src="{{ 'mira_fertility_confirm_wands.png' | file_img_url: '' }}" /></div>
          <div class="analyzer-mark"><img src="{{ 'PDG.png' | file_img_url: '' }}" /></div>
          <h4><a href="/products/fertility-confirm-test-wands">Mira Fertility Confirm Wands</a></h4>
          <p>With Mira’s Confirm Wands, you can easily track your PdG hormone levels and if you wish, combine this information with the Mira Fertility Plus Wands, which measure luteinizing hormone + estrogen levels. However, <strong>this is not necessary;</strong> you can track PdG levels exclusively without combining your readings.  Must be used together with the Mira Monitor.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Cw Mira Wands",
    "settings": [],
    "presets": [
      {
        "name": "Cw Mira Wands"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
