<div class="rest-sec product-benefit-sec white-sec-bg padd-t-b-100">
  <div class="container">
    <div class="heading-1">
      <h2>Product benefits</h2>
      <p>There are many benefits to tracking PdG levels with the Mira Fertility Confirm Wands, including:</p>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="rest-col">
          <div class="rest-icon-col"><img src="{{ 'benefit_icon01.svg' | file_url }}" alt=""></div>
          <p>
            Confirm your ovulation from home.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="rest-col">
          <div class="rest-icon-col"><img src="{{ 'benefit_icon02.svg' | file_url }}" alt=""></div>
          <p>Numeric value of PdG hormone level as in a lab.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="rest-col">
          <div class="rest-icon-col"><img src="{{ 'benefit_icon03.svg' | file_url }}" alt=""></div>
          <p>
            Stay organized. Automatically sync your readings to the app.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="rest-col">
          <div class="rest-icon-col"><img src="{{ 'benefit_icon04.svg' | file_url }}" alt=""></div>
          <p>
            No faint one or two lines. Understand results without guesswork.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="rest-col">
          <div class="rest-icon-col"><img src="{{ 'benefit_icon05.svg' | file_url }}" alt=""></div>
          <p>
            Test PdG, E3G, LH together with one Mira Monitor to see your cycle pattern.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="rest-col">
          <div class="rest-icon-col"><img src="{{ 'benefit_icon06.svg' | file_url }}" alt=""></div>
          <p>
            Painful and expensive blood tests? Forget those!
          </p>
        </div>
      </div>
    </div>
    <div class="btn-row-globel text-center hide-dextop">
      <a href="/products" class="btn-custom btn-pink btn-lg">Discover More</a>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Cw Product Benefits",
    "settings": [],
    "presets": [
      {
        "name": "Cw Product Benefits"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
