<div class="experts-mira-sec padd-b-100">
  <div class="container">
    <div class="experts-mira-inner">
      <div class="heading-1 text-center">
        <h2>Recommended by:</h2>
      </div>
      <div id="experts-mira-slider">
        <div class="experts-col row">
          <div class="col-lg-5">
            <div class="experts-img">
              <img src="{{ 'Meir_Olcha.png' | file_img_url: '' }}" alt="img" />
              <div class="expert-name">Meir Olcha, MD.</div>
              <p>Medical advisor and partner at Mira. OB/GYN, Reproductive Endocrinology. FACOG</p>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="experts-info">
              <p>“The Mira Fertility Tracker offers excellent quality and accurate results at the patient's
                 fingertips. As a health provider, I find that Mira’s quantitative measures far outweigh
                 most qualitative over-the-counter kits. Mira is far more useful in clinical applications. We
                 utilize Mira with our patients to help them successfully monitor, track and succeed in
                 achieving pregnancies.”</p>
            </div>
          </div>
        </div>
        <div class="experts-col row">
          <div class="col-lg-5">
            <div class="experts-img">
              <img src="{{ 'Erin_Foran.png' | file_img_url: '' }}" alt="img" />
              <div class="expert-name">Erin Foran Wolff, MD</div>
              <p>Partner at Mira. OB/GYN, Reproductive Endocrinology. FACOG.</p>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="experts-info">
              <p>“As a fertility specialist, I was used to seeing my patients’ hormone results only twice
                 per cycle. With Mira, I can see hormone patterns throughout many days of the cycle,
                 over multiple months. This has provided clinical insight I have never had access to
                 before, and allows me to tailor treatments in a much more individualized way. This
                 personalized approach has helped patients become pregnant at significantly higher
                 rates than standard, traditional, and generic fertility protocols.”</p>
            </div>
          </div>
        </div>
        <div class="experts-col row">
          <div class="col-lg-5">
            <div class="experts-img">
              <img src="{{ 'Gary_S._Nakhuda.png' | file_img_url: '' }}" alt="img" />
              <div class="expert-name">Gary S. Nakhuda, MD</div>
              <p>Research collaborator at Mira. OB/GYN, Reproductive Endocrinology. FACOG.</p>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="experts-info">
              <p>"From my perspective as a reproductive endocrinologist and fertility specialist, Mira is a
                 game-changing tool for patients and clinicians. With the convenience of home urine
                 testing, the quantitative data of a laboratory blood test, and an informative and engaging
                 app for hormone tracking—it seems to be the best of all worlds to improve the patient
                 experience and optimize treatment outcomes. We are actively pursuing approaches to
                 incorporate Mira into fertility treatments to reduce the burden of unnecessary blood tests
                 and clinic visits.”</p>
            </div>
          </div>
        </div>
        
       
        <div class="experts-col row">
          <div class="col-lg-5">
            <div class="experts-img">
              <img src="{{ 'Dr_Lin.png' | file_img_url: '' }}" alt="img" />
              <div class="expert-name">Dr. Li-Shei Lin</div>
              <p>Medical Advisor at Mira. Certified in Ob/Gyn and reproductive endocrinology and infertility and clinical professor of reproductive medicine</p>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="experts-info">
              <p>“As female hormonal levels change according to the menstrual cycle, the knowledge of hormonal event such ovulation renders women the confidence and freedom in decision making when a reliable home test device is available.”</p>
            </div>
            <div class="expert-name-mobile">
            <div class="expert-name">Dr. Li-Shei Lin</div>
              <p>Medical Advisor at Mira. Certified in Ob/Gyn and reproductive endocrinology and infertility and clinical professor of reproductive medicine</p>
            </div>
          </div>
        </div>
        <div class="experts-col row">
          <div class="col-lg-5">
            <div class="experts-img">
              <img src="{{ 'Marc_Sklar.png' | file_img_url: '' }}" alt="img" />
              <div class="expert-name">Dr. Marc Sklar</div>
              <p>Partner at Mira. The Fertility Expert.</p>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="experts-info">
              <p>“My favorite way to track ovulation right now is Mira Fertility. It is high lab-grade quality hormone testing at home. My favorite thing about this technology, the App, and the whole system is that it really takes the guesswork out of ovulation tracking.”</p>
            </div>
            <div class="expert-name-mobile">
            <div class="expert-name">Dr. Marc Sklar</div>
              <p>Partner at Mira. The Fertility Expert.</p>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Cw Recommended By",
    "settings": [],
    "presets": [
      {
        "name": "Cw Recommended By"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
