<div class="pdg-level-sec padd-t-b-60">
  <div class="container">
    <div class="heading-1 text-center">
      <h2>Why should you measure your PdG levels?</h2>
      <p>Identifying your PdG levels can help you confirm ovulation and make your fertility journey much easier.</p>
    </div>
    <div class="pdg-level-inner">
      <div class="row">
        <div class="col-md-6">
          <div class="pdg-level">
            <span class="level-icon"><img src="{{ 'pdg_level_01.svg' | file_url }}" alt=""></span>
            <p>Get pregnant faster.</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="pdg-level">
            <span class="level-icon"><img src="{{ 'pdg_level_02.svg' | file_url }}" alt=""></span>
            <p>Identify if you ovulated even if LH surges seem low.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="pdg-level">
            <span class="level-icon"><img src="{{ 'pdg_level_03.svg' | file_url }}" alt=""></span>
            <p>Take control of irregular cycles whether you want to know your fertile or infertile window.</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="pdg-level">
            <span class="level-icon"><img src="{{ 'pdg_level_04.svg' | file_url }}" alt=""></span>
            <p>Know if you ovulated easily. No hard-to-read tests or waiting for results.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="pdg-level">
            <span class="level-icon"><img src="{{ 'pdg_level_05.svg' | file_url }}" alt=""></span>
            <p>Get personalized insights and analytics through the Mira app.</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="pdg-level">
            <span class="level-icon"><img src="{{ 'pdg_level_06.svg' | file_url }}" alt=""></span>
            <p>Monitor your hormone levels after getting off birth control.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Cw Why Measure-PdG Levels",
    "settings": [],
    "presets": [
      {
        "name": "Cw Why Measure-PdG Levels"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
