<div class="how-use-sec how-use-four-col-sec how-to-redesign padd-t-b-100">
  <div class="container">
    <div class="heading-1">
      <h2>How a home sperm<br> test works</h2>
    </div>
  </div>
  <div class="how-use-sec-inner">
    <div class="container">
      <div class="row">
        <div class="col-6 col-md-3">
          <div class="how-use-col how-step-1 FadeUp">
            <h3><span class="hide-dextop">1.</span> Deliver sample</h3>
           
            <div class="how-use-img">
              <div class="how-to-column-image">
             
                <img src="{{ 'deliver_sample.svg' | file_url }}">
                <img class="how-to-image-line-1" src="{{ 'green-line-animation.svg' | file_url }}">
                <img class="how-to-image-line-2" src="{{ 'pink-line-animation.svg' | file_url }}">
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-3">
          <div class="how-use-col how-step-2 FadeUp">
            <h3><span class="hide-dextop">2.</span> Test the quality </h3>
           
            <div class="how-use-img">
              <div class="how-to-column-image">
               
                <img src="{{ 'test_quality.svg' | file_url }}">
                <img class="how-to-image-line-1" src="{{ 'green-line-animation.svg' | file_url }}">
                <img class="how-to-image-line-2" src="{{ 'gold_ring_vactor.svg' | file_url }}">
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-3">
          <div class="how-use-col how-step-3 FadeUp">
            <h3><span class="hide-dextop">3.</span> Know your score</h3>
           
            <div class="how-use-img">
              <div class="how-to-column-image">
               
                <img src="{{ 'Know_your_score.svg' | file_url }}">
                <img class="how-to-image-line-1" src="{{ 'green-line-animation.svg' | file_url }}">
                <img class="how-to-image-line-2" src="{{ 'pink-line-animation.svg' | file_url }}">
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-3">
          <div class="how-use-col how-step-3 how-step-4 FadeUp">
            <h3><span class="hide-dextop">4.</span> Improve your fertility</h3>
           
            <div class="how-use-img">
              <div class="how-to-column-image">
              
                  <img src="{{ 'Improve_fertility.svg' | file_url }}">
                <img class="how-to-image-line-1" src="{{ 'green-line-animation.svg' | file_url }}">
                <img class="how-to-image-line-2" src="{{ 'pink-line-animation.svg' | file_url }}">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



{% schema %}
  {
    "name": "EX How Home Sperm Works",
    "settings": [],
    "presets": [
      {
        "name": "EX How Home Sperm Works"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
