<div class="ingredients-sec bio-genesis-service-sec pt-first-section pt-greenbg ft-ingredients">
  <div class="container">
    <div class="heading-1 ft-heading">
      <h2>Hand-picked Premium Ingredients:</h2>
      <p>No matter where your journey is headed—you deserve clarity. </p>
    </div>
    <div class="row">
      <div class="col-6 col-12 col-sm-6 col-md-4 col-lg-3 pt-first-sec">
        <div class="rest-col pt-icons">
          <div class="rest-icon-col">
            <img src="{{ 'ft_ingredients_icon01.svg' | file_url }}" alt="">
          </div>
          <h3>Goji Berry</h3>
          <p>Promotes follicle growth and is considered an energy booster.</p>
        </div>
      </div>
      <div class="col-6 col-12 col-sm-6 col-md-4 col-lg-3 pt-first-sec">
        <div class="rest-col pt-icons">
          <div class="rest-icon-col">
            <img src="{{ 'ft_ingredients_icon02.svg' | file_url }}" alt="">
          </div>
          <h3>Ginger Root</h3>
          <p>Boosts your fertility, increases your natural follicle count, and improves your blood circulation.</p>
        </div>
      </div>
      <div class="col-6 col-12 col-sm-6 col-md-4 col-lg-3 pt-first-sec">
        <div class="rest-col pt-icons">
          <div class="rest-icon-col">
            <img src="{{ 'ft_ingredients_icon03.svg' | file_url }}" alt="">
          </div>
          <h3>Chaste Tree Berries</h3>
          <p>Helps balance your hormones and reduce symptoms of PMS and painful periods.</p>
        </div>
      </div>
      <div class="col-6 col-12 col-sm-6 col-md-4 col-lg-3 pt-first-sec">
        <div class="rest-col pt-icons">
          <div class="rest-icon-col">
            <img src="{{ 'ft_ingredients_icon04.svg' | file_url }}" alt="">
          </div>
          <h3>Nettle Leaf</h3>
          <p>Excellent source of folic acid — an essential nutrient for a healthy pregnancy.</p>
        </div>
      </div>
      <div class="col-6 col-12 col-sm-6 col-md-4 col-lg-3 pt-first-sec">
        <div class="rest-col pt-icons">
          <div class="rest-icon-col">
            <img src="{{ 'ft_ingredients_icon05.svg' | file_url }}" alt="">
          </div>
          <h3>Raspberry Leaf</h3>
          <p>Rich in vitamins and minerals that help prepare the uterus for implantation.</p>
        </div>
      </div>
      <div class="col-6 col-12 col-sm-6 col-md-4 col-lg-3  pt-first-sec">
        <div class="rest-col pt-icons">
          <div class="rest-icon-col">
            <img src="{{ 'ft_ingredients_icon06.svg' | file_url }}" alt="">
          </div>
          <h3>Peppermint</h3>
          <p> Gives the blend a delicious taste, reduces stress and improves fertility.</p>
        </div>
      </div>
      
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "FT Ingredients",
    "settings": [],
    "presets": [
      {
        "name": "FT Ingredients"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}