<div class="how-use-sec padd-b-100x">
   <div class="container">
      <div class="heading-1">
         <h2>How to Use Mira</h2>
      </div>
   </div>
   <div class="how-use-sec-inner">
      <div class="container">
         <div class="row">
            <div class="col-md-4">
               <div class="how-use-col how-step-1 FadeUp">
                  <h3>Step 1</h3>
                  <p>
                     Dip the test wand into urine for 10-20 seconds.
                  </p>
                 <div class="how-use-img">
                   <div class="how-to-column-image">
                     <img class="how-to-image" src="{{ 'how-mira-works1.png' | file_img_url: '' }}" alt="">
                     <img class="how-to-image-line-1" src="{{ 'green-line-animation.svg' | file_url }}">
                     <img class="how-to-image-line-2" src="{{ 'pink-line-animation.svg' | file_url }}">
                   </div>
                 </div>
               </div>
            </div>
            <div class="col-md-4">
               <div class="how-use-col how-step-2 FadeUp">
                  <h3>Step 2</h3>
                  <p>
                     Insert the wand into the Mira Monitor.
                  </p>
                 <div class="how-use-img">
                   <div class="how-to-column-image">
                     <img class="how-to-image" src="{{ 'how-mira-works2.png' | file_img_url: '' }}" alt="">
                     <img class="how-to-image-line-1" src="{{ 'green-line-animation.svg' | file_url }}">
                     <img class="how-to-image-line-2" src="{{ 'pink-line-animation.svg' | file_url }}">
                   </div>
                 </div>
               </div>
            </div>
            <div class="col-md-4">
               <div class="how-use-col how-step-3 FadeUp">
                  <h3>Step 3</h3>
                  <p>
                    In 21 minutes, your hormone results will automatically sync with the Mira App. jacobo
                  </p>
                 <div class="how-use-img">
                   <div class="how-to-column-image">
                     <img class="how-to-image" src="{{ 'how-mira-works3.png' | file_img_url: '' }}" alt="">
                     <img class="how-to-image-line-1" src="{{ 'green-line-animation.svg' | file_url }}">
                     <img class="how-to-image-line-2" src="{{ 'pink-line-animation.svg' | file_url }}">
                   </div>
                 </div>
               </div>
            </div>
         </div>
         <div class="btn-row-globel text-center hide-dextop">
            <a href="#" class="btn-custom btn-pink btn-lg">Get Mira Today</a>
         </div>
      </div>
   </div>
</div>
{% schema %}
  {
    "name": "How Mira Works",
    "settings": [],
    "presets": [
      {
        "name": "How Mira Works"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
