
<div class="mira-plan-sec testkit-table-sec analyzer-table padd-t-b-100">
  <div class="container">
    <div class="heading-1 text-center">
      <h2>How is the Mira Monitor Different?</h2>
    </div>
    <div class="table-responsive">
      <table class="table">
        <tbody>
          <tr>
            <th>
              &nbsp;
            </th>
            <th>
              <span class="testkit-icon-col"><img src="{{ 'mira_analyzer_kit.svg' | file_url }}"></span>
              <h5>Mira Monitor Kit</h5>
            </th>
             <th>
              <span class="testkit-icon-col"><img src="{{ 'testkit_table_icon03.png' | file_url }}"></span>
              <h5>Generic OPKs</h5>
            </th>
            <th>
              <span class="testkit-icon-col"><img src="{{ 'testkit_table_icon02.png' | file_img_url: '' }}"></span>
              <h5>Lab testing</h5>
            </th>
           
          </tr>
          <tr class="t_row">
            <td>Affordable</td>
            <td><img class="plan-check-icon" src="{{ 'check_with_fill.svg' | file_url }}" width="40"></td>
            <td><img class="plan-check-icon" src="{{ 'check_with_fill.svg' | file_url }}" width="40"></td>
            <td><img class="plan-check-icon" src="{{ 'cross_with_border.svg' | file_url }}" width="40"></td>
          </tr>
          <tr class="t_row">
            <td>Test at Home</td>
            <td><img class="plan-check-icon" src="{{ 'check_with_fill.svg' | file_url }}" width="40"></td>
            <td><img class="plan-check-icon" src="{{ 'check_with_fill.svg' | file_url }}" width="40"></td>
            <td><img class="plan-check-icon" src="{{ 'cross_with_border.svg' | file_url }}" width="40"></td>
          </tr>
          <tr class="t_row">
            <td>Quick Results</td>
            <td><img class="plan-check-icon" src="{{ 'check_with_fill.svg' | file_url }}" width="40"></td>
            <td><img class="plan-check-icon" src="{{ 'check_with_fill.svg' | file_url }}" width="40"></td>
            <td><img class="plan-check-icon" src="{{ 'cross_with_border.svg' | file_url }}" width="40"></td>
          </tr>
          <tr class="t_row">
            <td>Full Fertile Window Tracking</td>
            <td><img class="plan-check-icon" src="{{ 'check_with_fill.svg' | file_url }}" width="40"></td>
            <td><img class="plan-check-icon" src="{{ 'cross_with_border.svg' | file_url }}" width="40"></td>
            <td><img class="plan-check-icon" src="{{ 'cross_with_border.svg' | file_url }}" width="40"></td>
          </tr>
          <tr class="t_row">
            <td>Numeric Hormone Levels </td>
            <td><img class="plan-check-icon" src="{{ 'check_with_fill.svg' | file_url }}" width="40"></td>
            <td><img class="plan-check-icon" src="{{ 'cross_with_border.svg' | file_url }}" width="40"></td>
            <td><img class="plan-check-icon" src="{{ 'check_with_fill.svg' | file_url }}" width="40"></td>
          </tr>
         <tr class="t_row">
            <td>99% Accuracy</td>
            <td><img class="plan-check-icon" src="{{ 'check_with_fill.svg' | file_url }}" width="40"></td>
            <td><img class="plan-check-icon" src="{{ 'cross_with_border.svg' | file_url }}" width="40"></td>
            <td><img class="plan-check-icon" src="{{ 'check_with_fill.svg' | file_url }}" width="40"></td>
          </tr>
          <tr class="t_row">
            <td>AI-Powered Hormone Tracking</td>
            <td><img class="plan-check-icon" src="{{ 'check_with_fill.svg' | file_url }}" width="40"></td>
            <td><img class="plan-check-icon" src="{{ 'cross_with_border.svg' | file_url }}" width="40"></td>
            <td><img class="plan-check-icon" src="{{ 'cross_with_border.svg' | file_url }}" width="40"></td>
          </tr>
          
           <tr class="t_row">
            <td>Irregular Cycle & PCOS Friendly</td>
            <td><img class="plan-check-icon" src="{{ 'check_with_fill.svg' | file_url }}" width="40"></td>
            <td><img class="plan-check-icon" src="{{ 'cross_with_border.svg' | file_url }}" width="40"></td>
            <td><img class="plan-check-icon" src="{{ 'cross_with_border.svg' | file_url }}" width="40"></td>
          </tr>
        </tbody>
      </table>
    </div>
   
  </div>
</div>

{% schema %}
  {
    "name": "How Mira Analyzer",
    "settings": [],
    "presets": [
      {
        "name": "How Mira Analyzer"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
