<div class="ingredients-sec bio-genesis-service-sec green-bg">

  <div class="container">

<div class="heading-1">
  <h2>Why the BioGenesis™ Fertility Lubricant is different:</h2>

</div>

<div class="row">


 <div class="col-6 col-sm-6 col-md-4 col-lg-3">
  <div class="rest-col">
    <div class="rest-icon-col"><img src="{{ 'lubricant_fertility_icon01.svg' | file_url }}" alt=""></div>
   
    <p>Supports Sperm Health — Does Not Impede Sperm Movement</p>
  </div>
   </div> 
  
 <div class="col-6 col-sm-6 col-md-4 col-lg-3">
  <div class="rest-col">
    <div class="rest-icon-col"><img src="{{ 'lubricant_fertility_icon02.svg' | file_url }}" alt=""></div>
   
    <p>Closely Mimics Natural Feminine Moisture</p>
  </div>
   </div>
   
   <div class="col-6 col-sm-6 col-md-4 col-lg-3">
  <div class="rest-col">
    <div class="rest-icon-col"><img src="{{ 'lubricant_fertility_icon03.svg' | file_url }}" alt=""></div>
   
    <p>Research-Based, Patent-Pending Formula</p>
  </div>
     </div>
     
     <div class="col-6 col-sm-6 col-md-4 col-lg-3">
  <div class="rest-col">
    <div class="rest-icon-col"><img src="{{ 'lubricant_fertility_icon04.svg' | file_url }}" alt=""></div>
   
    <p>FDA Cleared Through Rigorous Testing</p>
  </div>
       </div>
       
       <div class="col-6 col-sm-6 col-md-4 col-lg-3">
  <div class="rest-col">
    <div class="rest-icon-col"><img src="{{ 'lubricant_fertility_icon05.svg' | file_url }}" alt=""></div>
   
    <p>Safe for Use With Silicone Toys &amp; Condoms</p>
  </div>
         </div>
         
         <div class="col-6 col-sm-6 col-md-4 col-lg-3">
  <div class="rest-col">
    <div class="rest-icon-col"><img src="{{ 'lubricant_fertility_icon06.svg' | file_url }}" alt=""></div>
   
    <p>12 Applications &amp; Two Easy-to-Clean Reusable Applicators Per&nbsp;Carton</p>
  </div>
           </div>
           
           <div class="col-6 col-sm-6 col-md-4 col-lg-3">
  <div class="rest-col">
    <div class="rest-icon-col"><img src="{{ 'lubricant_fertility_icon07.svg' | file_url }}" alt=""></div>
   
    <p>pH Rating: 3.8 – 4.2</p>
  </div>
      </div>
  
          <div class="col-6 col-sm-6 col-md-4 col-lg-3">
  <div class="rest-col">
    <div class="rest-icon-col"><img src="{{ 'lubricant_fertility_icon08.svg' | file_url }}" alt=""></div>
   
    <p>Osmolality Rating: 300 - 400 mOsmol/kg</p>
  </div>
      </div>

 
  

</div>

  </div>

</div>

{% schema %}
  {
    "name": "Why BioGenesis Different",
    "settings": [],
    "presets": [
      {
        "name": "Why BioGenesis Different"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
