<div class="resent-sec padd-t-b-100 expert-teacher-slider-sec expert-teacher-new">
   <div class="container">
      <div class="heading-1">
         <h2>Meet your expert teachers</h2>
      </div>
      <div id="expert-teacher-slider" class="arrow-slider-nav">
         <div class="item">
            <div class="resent-col">
               <div class="resent-img"> <img src="{{ 'expert_teacher01.png' | file_img_url: '' }}" alt="icon img"></div>
               <h4>Sara Twogood</h4>
               <p>
                  Board certified OB/GYN at Cedars Sinai, co-founder of Female Health Education,
                  a health education resource, which strives to empower females through health education
               </p>
            </div>
         </div>
         <div class="item">
            <div class="resent-col">
               <div class="resent-img"> <img src="{{ 'expert_teacher02.png' | file_img_url: '' }}" alt="icon img"></div>
               <h4>Jaclyn Tolentino</h4>
               <p>
                  DO, and a Board-Certified Family Physician with a collaborative, holistic approach to medicinal practices and a senior doctor at Parsley Health
               </p>
            </div>
         </div>
         <div class="item">
            <div class="resent-col">
               <div class="resent-img"> <img src="{{ 'expert_teacher03.png' | file_img_url: '' }}" alt="icon img"></div>
               <h4>Rachel Bolton</h4>
               <p>
                  The founder of Plan Yourself Pregnant, 
                  a brilliant fertility expert, coach, speaker, and educator. She’s also an avocado-lover, self-care activist, and proud mom of two girls.
               </p>
            </div>
         </div>
         <div class="item">
            <div class="resent-col">
               <div class="resent-img"> <img src="{{ 'expert_teacher04.png' | file_img_url: '' }}" alt="icon img"></div>
               <h4>Jennifer Jolorte Doro</h4>
               <p>
                  An NYC-based Clinical Nutritionist, Postpartum Chef, and mother of a 2-year-old boy. 
               </p>
            </div>
         </div>
         <!-- <div class="item">
            <div class="resent-col">
               <div class="resent-img"> <img src="{{ 'expert_teacher05.png' | file_img_url: '' }}" alt="icon img"></div>
               <h4>Jennifer Jolorte Doro</h4>
               <p>
                  An NYC-based Clinical Nutritionist, Postpartum Chef, and mother of a 2-year-old boy. 
               </p>
            </div>
         </div> -->
         <div class="item">
            <div class="resent-col">
               <div class="resent-img"> <img src="{{ 'expert_teacher05.png' | file_img_url: '' }}" alt="icon img"></div>
               <h4>Lisa Pineda</h4>
               <p>
                  Specializes in teaching yoga for fertility over 20 years. A while back, she found her yoga practices beneficial for her IVF journey. Lisa is now a proud mother of a healthy baby boy.
               </p>
            </div>
         </div>
         <div class="item">
            <div class="resent-col">
               <div class="resent-img"> <img src="{{ 'expert_teacher06.png' | file_img_url: '' }}" alt="icon img"></div>
               <h4>Kat Stevens</h4>
               <p>
                  A Hormonal Health Expert and Founder of Fertility Rewire, Menopause Rewire, and Tiger Taming. 
               </p>
            </div>
         </div>
         <!-- <div class="item">
            <div class="resent-col">
               <div class="resent-img"> <img src="{{ 'expert_teacher08.png' | file_img_url: '' }}" alt="icon img"></div>
               <h4>Lisa Penida</h4>
               <p>
                  Specializes in teaching yoga for fertility over 20 years. A while back, she found her yoga practices beneficial for her IVF journey. Lisa is now a proud mother of a healthy baby boy.
               </p>
            </div>
         </div> -->
         <div class="item">
            <div class="resent-col">
               <div class="resent-img"> <img src="{{ 'expert_teacher09.png' | file_img_url: '' }}" alt="icon img"></div>
               <h4>Marissa Nelson</h4>
               <p>
                  A Licensed Marriage & Family Therapist (LMFT), Certified Sex Therapist (CST), and Certified Sexuality Educator (CSE). Her focus on couples and infertility stems from her love of therapeutic work and her own experience with infertility and IVF. 
               </p>
            </div>
         </div>
         <div class="item">
            <div class="resent-col">
               <div class="resent-img"> <img src="{{ 'amina_hersi.png' | file_img_url: '' }}" alt="icon img"></div>
               <h4>Amina Hersi</h4>
               <p>
                  Dr. Amina Hersi is a general practitioner and PCOS expert. She is sharing her PCOS diagnosis and journey and how she is now using her experience and knowledge, as both a patient and GP, to help others.
               </p>
            </div>
         </div>
      </div>
   </div>
</div>

{% schema %}
  {
    "name": "Meet Expert Teachers",
    "settings": [],
    "presets": [
      {
        "name": "Meet Expert Teachers"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
