<!-- HTML Start -->
<div class="ingredients-sec">

  <div class="container">

<div class="heading-1">
  <h2>Ingredients include</h2>
  <p>All of which contain high levels of antioxidants, folic acid, 
and vitamins A & C to support your fertility journey naturally.</p>
</div>

<div class="row">


 <div class="col-md-4">
  <div class="rest-col">
    <div class="rest-icon-col"><img src="{{ 'Ingredients_icon01.svg' | file_url }}" alt=""></div>
    <h4>Red date</h4>
    <p>A great source of vitamin C, essential for a healthy reproductive system.</p>
  </div>
   </div> 
  
  <div class="col-md-4">
  <div class="rest-col">
    <div class="rest-icon-col"><img src="{{ 'Ingredients_icon02.svg' | file_url }}" alt=""></div>
    <h4>Rose flower</h4>
    <p>Highly nutritious, high in vitamin C, bioflavonoids, and antioxidants.</p>
  </div>
   </div> 
  
  <div class="col-md-4">
  <div class="rest-col">
    <div class="rest-icon-col"><img src="{{ 'Ingredients_icon03.svg' | file_url }}" alt=""></div>
    <h4>Goji Berry</h4>
    <p>An excellent source of antioxidants, promotes follicle growth, and is considered an energy booster.</p>
  </div>
   </div> 
  
  <div class="col-md-4">
  <div class="rest-col">
    <div class="rest-icon-col"><img src="{{ 'Ingredients_icon04.svg' | file_url }}" alt=""></div>
    <h4>Longan Fruit (dragon eye)</h4>
    <p>High in vitamin C, which helps support health and fertility.</p>
  </div>
   </div> 
  
  <div class="col-md-4">
  <div class="rest-col">
    <div class="rest-icon-col"><img src="{{ 'Ingredients_icon05.svg' | file_url }}" alt=""></div>
    <h4>Ginger</h4>
    <p>Ginger increases antral follicle count and ovarian stromal VEGF (Vascular Endothelial Growth Factor).</p>
  </div>
   </div> 
  
  <div class="col-md-4">
  <div class="rest-col">
    <div class="rest-icon-col"><img src="{{ 'Ingredients_icon06.svg' | file_url }}" alt=""></div>
    <h4>Dong Quai (Angelica Sinensis)</h4>
    <p>Strengthens the uterus, regulates hormones, and improves period timing.</p>
  </div>
   </div> 

 
  

</div>

  </div>

</div>
<!-- HTML End -->

{% schema %}
  {
    "name": "Mira Tea Ingredients",
    "settings": [],
    "presets": [
      {
        "name": "Mira Tea Ingredients"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
