<!-- HTML Start -->
<div class="tea-benefit-sec padd-t-100">

  <div class="container">



<div class="row">


 <div class="tea-benefit-col-outer">
  <div class="benefits-col-inner">
    <div class="rest-icon-col"><img src="{{ 'benefits_icon01.svg' | file_url }}" alt=""></div>
    <p>
      100% organic
      
    </p>
  </div>
  
   </div> 

  <div class="tea-benefit-col-outer">
  <div class="benefits-col-inner">
    <div class="rest-icon-col"><img src="{{ 'benefits_icon02.svg' | file_url }}" alt=""></div>
    <p>
     Hand-picked ingredients
for fertility support
      
    </p>
  </div>
  
   </div>  
  
  <div class="tea-benefit-col-outer">
  <div class="benefits-col-inner">
    <div class="rest-icon-col"><img src="{{ 'benefits_icon03.svg' | file_url }}" alt=""></div>
    <p>
     Caffeine-free
      
    </p>
  </div>
  
   </div> 
  
  
  <div class="tea-benefit-col-outer">
  <div class="benefits-col-inner">
    <div class="rest-icon-col"><img src="{{ 'benefits_icon04.svg' | file_url }}" alt=""></div>
    <p>
     Naturally supports your reproductive system
      
    </p>
  </div>
  
   </div> 
  
  <div class="tea-benefit-col-outer">
  <div class="benefits-col-inner">
    <div class="rest-icon-col"><img src="{{ 'benefits_icon05.svg' | file_url }}" alt=""></div>
    <p>
     Delicious taste
      
    </p>
  </div>
  
   </div> 

  

</div>



  </div>

</div>

<!-- HTML End -->
{% schema %}
  {
    "name": "Mira Tea Benefits",
    "settings": [],
    "presets": [
      {
        "name": "Mira Tea Benefits"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
