<div class="track-key-sec padd-t-b-100">

  <div class="container">
    <div class="track-key-sec-title">
    <h2>Track 3 key fertility hormones at once</h2>
    <p>Gain maximum fertility clarity by tracking LH, E3G, and PdG together. Pinpoint your full, 6-day fertile window, 
      predict and confirm ovulation and reach your goals faster. </p>
    </div>
    <div class="row">
    
      <div class="col-md-7">
       <div class="track-key-col">
         <ul>
           <li><img src="{{ 'purple_check.svg' | file_url }}" alt="icon">
           Get LH + E3G + PdG hormone levels using a single wand
           </li> 
           <li><img src="{{ 'purple_check.svg' | file_url }}" alt="icon">
           Get actual, numerical hormone concentrations
           </li> 
           <li><img src="{{ 'purple_check.svg' | file_url }}" alt="icon">
           Gain clarity with Mira’s personalized fertility alerts
           </li> 
           <li><img src="{{ 'purple_check.svg' | file_url }}" alt="icon">
           PCOS & hormonal imbalance friendly — as always!
           </li> 
         </ul>
      
      </div>
      </div>
      
      <div class="col-md-5">
        <div class="track-key-img">
        <img src="{{ 'track_key_img.svg' | file_url }}" alt="icon">
        </div>
      </div>
    
    </div>
    
    <div class="key-graph-col-outer">
    <div class="key-graph-col">
    
      <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_a2viakmd.json" background="transparent" speed="1" loop="" autoplay=""></lottie-player>
      
    </div>
    </div>
  
  </div>

</div>


{% schema %}
  {
    "name": "MMW Track Hormones Once",
    "settings": [],
    "presets": [
      {
        "name": "MMW Track Hormones Once"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
