<section class="template_section_table">
            <div class="template_section_table_content site_content_container">
                                    
              <h2>What’s the difference with other Mira Wands</h2>
                

                <div class="table">
                    <div class="t_row main">
                        <div class="t_col">
                        </div>
                        <div class="t_col">
                            <img class="icon-circle" src="{{ 'table_head_icon01.svg' | file_url }}" alt="">
                            <span>Mira Max<br>(LH+E3G+PdG)</span>
                        </div>
                        <div class="t_col">
                            <img class="icon-circle" src="{{ 'table_head_icon02.svg' | file_url }}" alt="">
                            <span>Mira Confirm<br>(PdG)</span>
                        </div>
                        <div class="t_col">
                            <img class="icon-circle" src="{{ 'table_head_icon03.svg' | file_url }}" alt="">
                            <span>Mira Fertility Plus<br>(LH + E3G)</span>
                        </div>
                        
                        
                        
                    </div>
                    <div class="t_row col_row">
                        <div class="t_col">
                            <span>Tracks 3 key fertility hormones
(LH + E3G + PdG) at once</span>
                        </div>
                        <div class="t_col">
                            <img class="check_mark" src="{{ 'purple_check.svg' | file_url }}" alt="">
                        </div>
                        <div class="t_col">
                            <img class="times" src="{{ 'grey_cross.svg' | file_url }}" alt="">
                        </div>
                        <div class="t_col">
                            <img class="times" src="{{ 'grey_cross.svg' | file_url }}" alt="">
                        </div>
                        
                        
                        
                    </div>
                    <div class="t_row col_row">
                        <div class="t_col">
                            <span>Predicts ovulation day and full 
fertile window (6 days)</span>
                        </div>
                         <div class="t_col">
                            <img class="check_mark" src="{{ 'purple_check.svg' | file_url }}" alt="">
                      </div>
                         <div class="t_col">
                            <img class="times" src="{{ 'grey_cross.svg' | file_url }}" alt="">
                        </div>
                        <div class="t_col">
                            <img class="times" src="{{ 'grey_check.svg' | file_url }}" alt="">
                        </div>
                        
                        
                        
                    </div>
                    <div class="t_row col_row">
                        <div class="t_col">
                            <span>Confirms ovulation</span>
                        </div>
                          <div class="t_col">
                            <img class="check_mark" src="{{ 'purple_check.svg' | file_url }}" alt="">
                      </div>
                         <div class="t_col">
                            <img class="check_mark" src="{{ 'green_table_check.svg' | file_url }}" alt="">
                      </div>
                        <div class="t_col">
                            <img class="times" src="{{ 'grey_cross.svg' | file_url }}" alt="">
                        </div>
                        
                        
                        
                    </div>
                    <div class="t_row col_row">
                        <div class="t_col">
                            <span>Numerical, crystal clear results</span>
                        </div>
                        <div class="t_col">
                            <img class="check_mark" src="{{ 'purple_check.svg' | file_url }}" alt="">
                      </div>
                         <div class="t_col">
                            <img class="check_mark" src="{{ 'green_table_check.svg' | file_url }}" alt="">
                      </div>
                        <div class="t_col">
                            <img class="times" src="{{ 'grey_check.svg' | file_url }}" alt="">
                        </div>
                        
                        
                    </div>

       

                </div>
            </div>
        </section>


{% schema %}
  {
    "name": "MMW Compare Mira Wands",
    "settings": [],
    "presets": [
      {
        "name": "MMW Compare Mira Wands"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
