
<div class="mira-plan-sec testkit-table-sec analyzer-table ovum-compare-table ob-compare-table padd-t-b-80">
  <div class="container">
    <div class="heading-1 text-center">
      <h2>Why the Mira Clarity Bundle is the best combo</h2>
    </div>
    <div class="table-responsive">
      <table class="table">
        <tbody>
          <tr>
            <th>
              &nbsp;
            </th>
            <th>
              <span class="testkit-icon-col"></span>
              <h5>Mira Hormone Monitor: Clarity Kit</h5>
            </th>
             <th>
              <span class="testkit-icon-col"></span>
              <h5>Mira Hormone Monitor: Max Kit</h5>
            </th>
            <th>
              <span class="testkit-icon-col"></span>
              <h5>Mira Hormone Monitor: Basic Kit</h5>
            </th>
           
          </tr>
          <tr class="t_row">
            <td>Fertility hormones</td>
            <td>LH, E3G, PdG, FSH</td>
            <td>LH, E3G, PdG</td>
            <td>LH, E3G</td>
          </tr>
          <tr class="t_row">
            <td>Numerical, crystal clear results</td>
            <td><img class="plan-check-icon" src="{{ 'check_with_fill.svg' | file_url }}" width="40"></td>
            <td><img class="plan-check-icon" src="{{ 'check_with_fill.svg' | file_url }}" width="40"></td>
            <td><img class="plan-check-icon" src="{{ 'check_with_fill.svg' | file_url }}" width="40"></td>
          </tr>
         <tr class="t_row">
            <td>Predicts ovulation day and full 
fertile window (6 days)</td>
            <td><img class="plan-check-icon" src="{{ 'check_with_fill.svg' | file_url }}" width="40"></td>
            <td><img class="plan-check-icon" src="{{ 'check_with_fill.svg' | file_url }}" width="40"></td>
            <td><img class="plan-check-icon" src="{{ 'check_with_fill.svg' | file_url }}" width="40"></td>
          </tr>
          <tr class="t_row">
            <td>Confirms ovulation</td>
            <td><img class="plan-check-icon" src="{{ 'check_with_fill.svg' | file_url }}" width="40"></td>
            <td><img class="plan-check-icon" src="{{ 'check_with_fill.svg' | file_url }}" width="40"></td>
            <td><img class="plan-check-icon" src="{{ 'cross_with_border.svg' | file_url }}" width="40"></td>
          </tr>
          
           <tr class="t_row">
            <td>Evaluate your fertility health</td>
            <td><img class="plan-check-icon" src="{{ 'check_with_fill.svg' | file_url }}" width="40"></td>
            <td><img class="plan-check-icon" src="{{ 'cross_with_border.svg' | file_url }}" width="40"></td>
            <td><img class="plan-check-icon" src="{{ 'cross_with_border.svg' | file_url }}" width="40"></td>
          </tr>
          <tr class="t_row">
            <td>Identify if you are approaching 
perimenopause</td>
            <td><img class="plan-check-icon" src="{{ 'check_with_fill.svg' | file_url }}" width="40"></td>
            <td><img class="plan-check-icon" src="{{ 'cross_with_border.svg' | file_url }}" width="40"></td>
            <td><img class="plan-check-icon" src="{{ 'cross_with_border.svg' | file_url }}" width="40"></td>
          </tr>
        </tbody>
      </table>
    </div>
   
  </div>
</div>

{% schema %}
  {
    "name": "ObOvumBundleCompareTable",
    "settings": [],
    "presets": [
      {
        "name": "ObOvumBundleCompareTable"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
