
<div class="mira-plan-sec testkit-table-sec analyzer-table padd-t-b-100">
  <div class="container">
    <div class="heading-1 text-center">
      <h2>The Mira Ovum Wands are different</h2>
      <p>See how they compare to other methods.</p>
    </div>
    <div class="table-responsive">
      <table class="table">
        <tbody>
          <tr>
            <th>
              &nbsp;
            </th>
            <th>
              <span class="testkit-icon-col"><img src="{{ 'table_item_img01.svg' | file_url }}"></span>
              <h5>Mira Ovum Wands</h5>
            </th>
             <th>
              <span class="testkit-icon-col"><img src="{{ 'table_item_img02.svg' | file_url }}"></span>
              <h5>Blood test</h5>
            </th>
            <th>
              <span class="testkit-icon-col"><img src="{{ 'table_item_img03.svg' | file_url }}"></span>
              <h5>Test strip</h5>
            </th>
           
          </tr>
          <tr class="t_row">
            <td>Numeric hormone levels</td>
            <td><img class="plan-check-icon" src="{{ 'check_with_fill.svg' | file_url }}" width="40"></td>
            <td><img class="plan-check-icon" src="{{ 'check_with_fill.svg' | file_url }}" width="40"></td>
            <td><img class="plan-check-icon" src="{{ 'cross_with_border.svg' | file_url }}" width="40"></td>
          </tr>
          <tr class="t_row">
            <td>Fast, Discreet,
              Not-invasive, & Easy</td>
            <td><img class="plan-check-icon" src="{{ 'check_with_fill.svg' | file_url }}" width="40"></td>
            <td><img class="plan-check-icon" src="{{ 'cross_with_border.svg' | file_url }}" width="40"></td>
            <td><img class="plan-check-icon" src="{{ 'check_with_fill.svg' | file_url }}" width="40"></td>
          </tr>
         <tr class="t_row">
            <td>Automatic Cycle Charting</td>
            <td><img class="plan-check-icon" src="{{ 'check_with_fill.svg' | file_url }}" width="40"></td>
            <td><img class="plan-check-icon" src="{{ 'cross_with_border.svg' | file_url }}" width="40"></td>
            <td><img class="plan-check-icon" src="{{ 'cross_with_border.svg' | file_url }}" width="40"></td>
          </tr>
          <tr class="t_row">
            <td>Take Control from the Comfort of your Home</td>
            <td><img class="plan-check-icon" src="{{ 'check_with_fill.svg' | file_url }}" width="40"></td>
            <td><img class="plan-check-icon" src="{{ 'cross_with_border.svg' | file_url }}" width="40"></td>
            <td><img class="plan-check-icon" src="{{ 'cross_with_border.svg' | file_url }}" width="40"></td>
          </tr>
          
           <tr class="t_row">
            <td>Works with Irregular Cycles</td>
            <td><img class="plan-check-icon" src="{{ 'check_with_fill.svg' | file_url }}" width="40"></td>
            <td><img class="plan-check-icon" src="{{ 'cross_with_border.svg' | file_url }}" width="40"></td>
            <td><img class="plan-check-icon" src="{{ 'cross_with_border.svg' | file_url }}" width="40"></td>
          </tr>
        </tbody>
      </table>
    </div>
   
  </div>
</div>

{% schema %}
  {
    "name": "OVUM Compare Table",
    "settings": [],
    "presets": [
      {
        "name": "OVUM Compare Table"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
