<div class="ingredients-sec bio-genesis-service-sec pt-first-section pt-greenbg">

  <div class="container">

<div class="heading-1 pt-heading">
  <h2>Premium ingredients</h2>

</div>

<div class="row">


 <div class="col-6 col-12 col-sm-6 col-md-4 col-lg-3 pt-first-sec">
  <div class="rest-col pt-icons">
    <div class="rest-icon-col"><img src="{{ 'Ginger_Root01.svg' | file_url }}" alt=""></div>
    <h3>Ginger Root</h3>
    <p>Reduces nausea and vomiting and helps relieve morning sickness.</p>
  </div>
   </div> 
  
 <div class="col-6 col-12 col-sm-6 col-md-4 col-lg-3 pt-first-sec">
  <div class="rest-col pt-icons">
    <div class="rest-icon-col"><img src="{{ 'Lavender02.svg' | file_url }}" alt=""></div>
    <h3>Lavender</h3>
    <p>Calms headaches, eases anxiety, and helps with sleep.</p>
  </div>
   </div>
   
   <div class="col-6 col-12 col-sm-6 col-md-4 col-lg-3 pt-first-sec">
  <div class="rest-col pt-icons">
    <div class="rest-icon-col"><img src="{{ 'Nettle_Leaf03.svg' | file_url }}" alt=""></div>
    <h3>Nettle Leaf</h3>
    <p>Contains high iron and calcium contents and is an excellent source of folic acid—an essential nutrient for pregnancy.</p>
  </div>
     </div>
     
     <div class="col-6 col-12 col-sm-6 col-md-4 col-lg-3 pt-first-sec">
  <div class="rest-col pt-icons">
    <div class="rest-icon-col"><img src="{{ 'Oatstraw04.svg' | file_url }}" alt=""></div>
    <h3>Oatstraw</h3>
    <p>Contains plenty of calcium and magnesium which helps with trouble sleeping, relieves anxiety and skin irritations.</p>
  </div>
       </div>
       
       <div class="col-6 col-12 col-sm-6 col-md-4 col-lg-3 pt-first-sec">
  <div class="rest-col pt-icons">
    <div class="rest-icon-col"><img src="{{ 'Rosehips05.svg' | file_url }}" alt=""></div>
    <h3>Rosehips</h3>
    <p>A rich source of vitamin C that helps promote a healthy pregnancy. </p>
  </div>
         </div>
         
         <div class="col-6 col-12 col-sm-6 col-md-4 col-lg-3  pt-first-sec">
  <div class="rest-col pt-icons">
    <div class="rest-icon-col"><img src="{{ 'Fennel06.svg' | file_url }}" alt=""></div>
    <h3>Fennel</h3>
    <p>Helps develop your appetite in the first trimester, reduces gas and heartburn, and helps reduce morning sickness. </p>
  </div>
           </div>
  
          <div class="col-6 col-12 col-sm-6 col-md-4 col-lg-3 pt-first-sec">
  <div class="rest-col pt-icons">
    <div class="rest-icon-col"><img src="{{ 'Peppermint_Leaf07.svg' | file_url }}" alt=""></div>
    <h3>Peppermint Leaf</h3>
    <p>Helps relieve morning sickness and soothes an upset stomach.</p>
  </div>
      </div>

 
  

</div>

  </div>

</div>

{% schema %}
  {
    "name": "PT Ingredients",
    "settings": [],
    "presets": [
      {
        "name": "PT Ingredients"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
