<div class="testimonials-sec Stories-testimonials-sec padd-t-b-100">
   <div class="container">
     <h2>Success Stories</h2>
      <div class="row">
         <div class="col-md-12">
            <div id="success_story_slider" class="arrow-slider-nav">
               <div class="testimonials-col">
                 <div class="testimonials-col-inner">
                 <div class="testimonials-img">
                     <img src="{{ 'success_story_kristie2.png' | file_img_url: '' }}">
                   <span class="quote-icon"><img src="{{ 'green_quote_icon1.svg' | file_url }}" alt=""></span>
                  </div>
                  <div class="testimonials-text">
                    <h4><a target="_blank" href="https://www.miracare.com/success-stories/kristie-e/">Because of Mira, I Am Expecting My Second Miracle Rainbow Boy</a></h4>
                    <p>Thanks to Mira Fertility, Kristie found out that she was ovulating almost immediately after her period</p>
                    <div class="testiname">Kristie</div>
                  </div>
               </div>
                 </div>
               <div class="testimonials-col">
                  <div class="testimonials-col-inner">
                  <div class="testimonials-img">
                     <img src="{{ 'success_story_nicole2.png' | file_img_url: '' }}">
                    <span class="quote-icon"><img src="{{ 'green_quote_icon1.svg' | file_url }}" alt=""></span>
                  </div>
                 <div class="testimonials-text">
                    <h4><a target="_blank" href="https://www.miracare.com/success-stories/nicole-s/">Mira’s Precise and Easy to Use System Helped Me to Get My Son</a></h4>
                    <p>Mira was able to provide Nicole with information and answers that other fertility kits and even doctors could not.</p>
                    <div class="testiname">Nicole</div>
                  </div>
               </div>
               </div>
               <div class="testimonials-col">
                  <div class="testimonials-col-inner">
                  <div class="testimonials-img">
                    <img src="{{ 'success_story_octavia.png' | file_img_url: '' }}">
                    <span class="quote-icon"><img src="{{ 'green_quote_icon1.svg' | file_url }}" alt=""></span>
                    
                  </div>
                 <div class="testimonials-text">
                    <h4><a target="_blank" href="https://www.miracare.com/success-stories/octavia/">I Took 14 Pregnancy Tests and Still Didn’t Believe I Was Pregnant</a></h4>
                    <p>After $20K+ spent, 4 IUIs, 50 pounds lost, and PCOS, it took 14 pregnancy tests for Octavia to believe she was finally pregnant!</p>
                    <div class="testiname">Octavia</div>
                  </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
     <div class="btn-row-globel"><a href="https://www.miracare.com/success-stories/" class="btn-custom btn-pink btn-lg" target="_blank">Read More</a></div>
   </div>
</div>
{% schema %}
{
    "name": "Success Stories 3 Columns",
    "settings": [],
    "presets": [
      {
        "name": "Success Stories 3 Columns"
      }
    ]
}
{% endschema %}
{% stylesheet %}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}