<div class="experts-mira-sec stories-slider-sec padd-t-b-100" style="padding-bottom:50px !important;">
   <div class="container">
      <div class="experts-mira-inner">
         <div id="stories-slider-col">
            <div class="experts-col row">
               <div class="col-lg-5 mobile-hide">
                  <div class="experts-img"><img src="{{ 'success_story_kristie_ersing.png' | file_img_url: '' }}" alt="img" />
                  </div>
               </div>
               <div class="col-lg-7">
                  <div class="success-story-col">
                     <span class="quote-icon"><img src="{{ 'quote_icon_open.png' | file_img_url: '' }}" alt="icon"></span>
                     <div class="heading-1">
                        <h2>Because of Mira, I Am Expecting My Second Miracle Rainbow Boy</h2>
                     </div>
                     <p>“Thanks to Mira Fertility, Kristie found out that she was ovulating almost immediately after her period”</p>
                     <div class="user-name">Kristie</div>
                    
                     <div class="experts-img hide-dextop"><img src="{{ 'success_story_kristie_ersing.png' | file_img_url: '' }}" alt="img" />
                  </div>
                     <a href="https://www.miracare.com/blog/mira-success-story-kristie/" class="btn-custom btn-pink btn-lg" target="_blank">Success Stories </a>
                  </div>
               </div>
            </div>
            <div class="experts-col row">
               <div class="col-lg-5 mobile-hide">
                  <div class="experts-img"><img src="{{ 'success_story_TiffanyLangerMaternity.png' | file_img_url: '' }}" alt="img" />
                  </div>
               </div>
               <div class="col-lg-7">
                  <div class="success-story-col">
                     <span class="quote-icon"><img src="{{ 'quote_icon_open.png' | file_img_url: '' }}" alt="icon"></span>
                     <div class="heading-1">
                        <h2>Mira Helped Me to Communicate Accurate Information to My Fertility Doctor</h2>
                     </div>
                     <p>“Read on to learn more about Tiffany’s unique trying to conceive story and how Mira helped her go through challenges.”</p>
                     <div class="user-name">Tiffany</div>
                    <div class="experts-img hide-dextop"><img src="{{ 'success_story_TiffanyLangerMaternity.png' | file_img_url: '' }}" alt="img" />
                  </div>
                     <a href="https://www.miracare.com/blog/mira-success-story-tiffany/" class="btn-custom btn-pink btn-lg" target="_blank">Success Stories </a>
                  </div>
               </div>
            </div>
            <div class="experts-col row">
               <div class="col-lg-5 mobile-hide">
                  <div class="experts-img"><img src="{{ 'success_story_kimberly.png' | file_img_url: '' }}" alt="img" />
                  </div>
               </div>
               <div class="col-lg-7">
                  <div class="success-story-col">
                     <span class="quote-icon"><img src="{{ 'quote_icon_open.png' | file_img_url: '' }}" alt="icon"></span>
                     <div class="heading-1">
                        <h2>Will Definitely Be Using Mira on Our Next Conception Adventure!</h2>
                     </div>
                     <p>“Read this success story to find out how Mira helped Kimberly to track extremely unpredictable periods and get pregnant with a baby girl.”</p>
                     <div class="user-name">Kimberly</div>
                    <div class="experts-img hide-dextop"><img src="{{ 'success_story_kimberly.png' | file_img_url: '' }}" alt="img" />
                  </div>
                     <a href="https://www.miracare.com/blog/mira-success-story-kimberly/" class="btn-custom btn-pink btn-lg" target="_blank">Success Stories </a>
                  </div>
               </div>
            </div>
            <div class="experts-col row">
               <div class="col-lg-5 mobile-hide">
                  <div class="experts-img"><img src="{{ 'success_story_Nicole.png' | file_img_url: '' }}" alt="img" />
                  </div>
               </div>
               <div class="col-lg-7">
                  <div class="success-story-col">
                     <span class="quote-icon"><img src="{{ 'quote_icon_open.png' | file_img_url: '' }}" alt="icon"></span>
                     <div class="heading-1">
                        <h2>Mira’s Precise and Easy to Use System Helped Me to Get My Son</h2>
                     </div>
                     <p>“Read on to find out more about Nicole S.’s trying to conceive journey and how Mira’s clear and concise information helped her get pregnant.”</p>
                     <div class="user-name">Nicole</div>
                     <div class="experts-img hide-dextop"><img src="{{ 'success_story_Nicole.png' | file_img_url: '' }}" alt="img" />
                  </div>
                     <a href="https://www.miracare.com/blog/mira-success-story-nicole/" class="btn-custom btn-pink btn-lg" target="_blank">Success Stories </a>
                  </div>
               </div>
            </div>
            <div class="experts-col row">
               <div class="col-lg-5 mobile-hide">
                  <div class="experts-img"><img src="{{ 'success_story_Curtina.png' | file_img_url: '' }}" alt="img" />
                  </div>
               </div>
               <div class="col-lg-7">
                  <div class="success-story-col">
                     <span class="quote-icon"><img src="{{ 'quote_icon_open.png' | file_img_url: '' }}" alt="icon"></span>
                     <div class="heading-1">
                        <h2>It Could Have Taken So Much Longer for Us to Conceive Without Mira</h2>
                     </div>
                     <p>“This year has been a rocky road, but even through uncertainty, MIRAcles did happen. One of our customers – Curtina B. from California – gave birth to her baby boy this September. Read on her success story to find out how Mira helped Curtina to overcome her fertility issues and get pregnant without waiting the traditional year to begin testing at the doctor’s office.”</p>
                     <div class="user-name">Curtina</div>
                     <div class="experts-img hide-dextop"><img src="{{ 'success_story_Curtina.png' | file_img_url: '' }}" alt="img" />
                  </div>
                     <a href="https://www.miracare.com/blog/mira-success-story-curtina/" class="btn-custom btn-pink btn-lg" target="_blank">Success Stories </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% schema %}
  {
    "name": "Success Stories",
    "settings": [],
    "presets": [
      {
        "name": "Success Stories"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
