<div class="module-explore ttc-benefits">
    <div class="container">
      <div class="heading-1">
    <h2>Benefits</h2>
  </div>

      <ul>
      
        <li>
          <div class="module-item">
          <span><img src="{{ 'benefits_icon_01.svg' | file_url }}" alt=""></span>
         Learn from certified fertility experts from around the world
            </div>
        </li>
        <li>
          <div class="module-item">
          <span><img src="{{ 'benefits_icon_02.svg' | file_url }}" alt=""></span>
         Get a complete roadmap to stress-free conceiving
             </div>
        </li>
        <li>
          <div class="module-item">
          <span><img src="{{ 'benefits_icon_03.svg' | file_url }}" alt=""></span>
        Join our TTC course support group and share your progress and thoughts with others
             </div>
        </li>
        <li>
          <div class="module-item">
          <span><img src="{{ 'benefits_icon_04.svg' | file_url }}" alt=""></span>
        Download exclusive checklists, brochures, and e-guides from our experts
             </div>
        </li>
        <li>
          <div class="module-item">
          <span><img src="{{ 'benefits_icon_05.svg' | file_url }}" alt=""></span>
         Learn little-known lifestyles and habit changes 
to improve your fertility
             </div>
        </li>
        <li>
          <div class="module-item">
         <span><img src="{{ 'benefits_icon_06.svg' | file_url }}" alt=""></span>
        Get practical, step-by-step information to help you take action towards your fertility goals
             </div>
        </li>
      
     
       
        
      </ul>
    
  
  </div>
   </div>



{% schema %}
  {
    "name": "TTC Benefits",
    "settings": [],
    "presets": [
      {
        "name": "TTC Benefits"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
