<section class="template_section_products_columns_4 ft_products_columns_4">
  <div class="template_section_products_columns_4_content site_content_container content-box">
    <div class="heading-1 ft-heading">
      <h2>Navigate your fertility with peace of mind</h2>
      <p>Your journey shouldn’t feel like an obstacle course. Navigate your fertility confidently with OBGYN-approved fertility boosters and health products.</p>
    </div>
    <div class="product-col-row row">
      <div class="col-md-3 product-item">
        <div class="product-col">
          <div class="product-img-col">
            <a href="/products/fertility-max-starter-kit">
              <img class="image" src="https://cdn.shopify.com/s/files/1/0474/0225/4488/files/products_image01.png">
            </a>
          </div>
          <h4>
            <a href="/products/fertility-max-starter-kit">{{ all_products['fertility-max-starter-kit'].title }}</a>
          </h4>
          <p class="sub-title">Includes 10 Max Wands</p>
          <div class="product-price-coll">
            <div class="price-btn-row">
              <span class="plat-price">{{ all_products['fertility-max-starter-kit'].price | money }}</span>
              <div class="old-price" style="display: none;">{{ all_products['fertility-max-starter-kit'].compare_at_price | money }}</div>
            </div>
            <div class="learn-more-btn">
            <a href="/products/fertility-max-starter-kit" target="" class="btn-custom button"> Learn More </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 product-item">
        <div class="product-col">
          <div class="product-img-col">
            <a href="/products/mira-max-test-wands">
              <img class="image" src="https://cdn.shopify.com/s/files/1/0474/0225/4488/files/Fertility_Max_Wands_img.png?v=1690446892">
            </a>
          </div>
          <h4>
            <a href="/products/mira-max-test-wands">{{ all_products['mira-max-test-wands'].title }}</a>
          </h4>
          <p class="sub-title">{{ all_products['mira-max-test-wands'].metafields.product_fields.sub_title }}</p>
          <div class="product-price-coll">
            <div class="price-btn-row">
              <span class="plat-price">{{ all_products['mira-max-test-wands'].price | money }}</span>
              <div class="old-price" style="display: none;">{{ all_products['mira-max-test-wands'].compare_at_price | money }}</div>
            </div>
            <div class="learn-more-btn">
            <a href="/products/mira-max-test-wands" target="" class="btn-custom button"> Learn More </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 product-item">
        <div class="product-col">
          <div class="product-img-col">
            <a href="/products/prenatal-multivitamin">
              <img class="image" src="https://cdn.shopify.com/s/files/1/0474/0225/4488/files/products_image03.png">
            </a>
          </div>
          <h4>
            <a href="/products/prenatal-multivitamin">{{ all_products['prenatal-multivitamin'].title }}</a>
          </h4>
          <p class="sub-title">{{ all_products['prenatal-multivitamin'].metafields.product_fields.sub_title }}</p>
          <div class="product-price-coll">
            <div class="price-btn-row">
              <span class="plat-price">{{ all_products['prenatal-multivitamin'].price | money }}</span>
              <div class="old-price" style="display: none;">$229</div>
            </div>
            <div class="learn-more-btn">
            <a href="/products/prenatal-multivitamin" target="" class="btn-custom button"> Learn More </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 product-item">
        <div class="product-col">
          <div class="product-img-col">
            <a href="/products/mira-max-ovum-bundle">
              <img class="image" src="https://cdn.shopify.com/s/files/1/0474/0225/4488/files/products_image04.png">
            </a>
          </div>
          <h4>
            <a href="/products/mira-max-ovum-bundle">{{ all_products['mira-max-ovum-bundle'].title }}</a>
          </h4>
          <p class="sub-title">{{ all_products['mira-max-ovum-bundle'].metafields.product_fields.sub_title }}</p>
          <div class="product-price-coll">
            <div class="price-btn-row">
              <span class="plat-price">{{ all_products['mira-max-ovum-bundle'].price | money }}</span>
              <div class="old-price" style="display: none;">$229</div>
            </div>
            <div class="learn-more-btn">
            <a href="/products/mira-max-ovum-bundle" target="" class="btn-custom button"> Learn More </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
  {
    "name": "Upsell Products Column 4",
    "settings": [],
    "presets": [
      {
        "name": "Upsell Products Column 4"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}