<div class="mira-plan-sec padd-t-b-100">
  <div class="container">
  
    <div class="heading-1 text-center">
      <h2>Mira Fertility Vs Mira Fertility Plus</h2>
      <h3>Mira Replacement Test Wands</h3>
      <p>The simple disposable urine test wands accurately track hormones to identify both fertile and infertile days.<br> Must be used together with the Mira Monitor.
        The Mira Monitor works with Mira Fertility and Mira Fertility Plus wands.</p>
    </div>
      
      
     <div class="row">

        <div class="col-4">
          <div class="mira-plan-col plan-item-1">
            <div class="plan-img-col"><img src="{{ 'LH-wands.png' | file_img_url: '' }}" /></div>
            <div class="analyzer-mark"><img src="{{ 'LH.png' | file_img_url: '' }}" /></div>
            <h4>Mira Fertility Wands</h4>
            <ul>
              <li>Luteinizing hormone</li>
              <li>Up to 4 days</li>
              <li><img src="{{ 'plan-cross.svg' | file_url }}" /></li>
              <li><img src="{{ 'plan-cross.svg' | file_url }}" /></li>
              <li><img src="{{ 'plan_check.svg' | file_url }}" /></li>
              <li><img src="{{ 'plan_check.svg' | file_url }}" /></li>
            </ul>
            <a href="/products/fertility-test-wands" class="btn-custom btn-green btn-lg">Order Now</a>
          </div>
        </div>

        <div class="col-4">
          <div class="mira-plan-col plan-item-2">
            <div class="plan-img-col">VS</div>
            
            <h4>Comparison criteria</h4>
            <ul>
              <li>Measure fertility hormones</li>
              <li>Show fertile window</li>
              <li>Natural Family Planning</li>
              <li>Know Your Ovulation Earlier</li>
              <li>Numeric value of hormone concentration</li>
              <li>Works with Mira Monitor</li>
            </ul>
          </div>
            
        </div>

        <div class="col-4">
          <div class="mira-plan-col plan-item-3">
            <div class="plan-img-col"><img src="{{ 'plus-wands.png' | file_img_url: '' }}" /></div>
            <div class="analyzer-mark"><img src="{{ 'LH.png' | file_img_url: '' }}" /> <img src="{{ 'E3G.png' | file_img_url: '' }}" /></div>
            <h4>Mira Fertility Plus Wands</h4>
            <ul>
              <li>Luteinizing hormone and estrogen</li>
              <li>Up to 6 days</li>
              <li><img src="{{ 'plan_check.svg' | file_url }}" /></li>
              <li><img src="{{ 'plan_check.svg' | file_url }}" /></li>
              <li><img src="{{ 'plan_check.svg' | file_url }}" /></li>
              <li><img src="{{ 'plan_check.svg' | file_url }}" /></li>
            </ul>
            <a href="/products/fertility-plus-test-wands" class="btn-custom btn-pink btn-lg">Order Now</a>
          </div>
        </div>

     </div> 
  </div>
</div>
{% schema %}
  {
    "name": "Wands Comparison",
    "settings": [],
    "presets": [
      {
        "name": "Wands Comparison"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
