<div class="discover-sec track-pdg-sec yo-result-ranges green-bg">
  <div class="container">
    <div class="heading-1 text-center">
      <h2>Results & the reference ranges</h2>
    </div>
    <div class="row yo-result-row-1">
       <div class="col-md-5">
        <div class="discover-img">
          <img class="discover-image" src="{{ 'motile_sperm.png' | file_img_url: '' }}" alt="img">
          <div class="rotate-shape">
          <img class="how-to-image-line-1" src="{{ 'small_green_vector.svg' | file_url }}" alt="">
          
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <div class="discover-info">
          <h4>Result #1</h4>
          <h3>Motile sperm concentration</h3>
          <div class="pre-order-text">
          <p>Sperm cells need to move forward to reach the egg during natural conception. YO first reports whether your motile sperm concentration (MSC) is 
            above or below a “normal range” of six million motile sperm per milliliter. </p>
          <blockquote>
            <p>The “normal range” of six million motile sperm is calculated by multiplying the World 
              Health Organization (WHO) reference value for sperm concentration (15 million) times the normal reference range for sperm motility (40%). 
15 million x 40% = 6 million.</p>
          </blockquote>
          <p>Although only one sperm cell is needed to fertilize an egg, six million motile sperm per milliliter is the 
            cut-off or “threshold,” which determines the diagnosis of Low vs. Moderate/Normal MSC.
          </p>
          </div>
          <div class="read-more-btn"><a href="#">Read More <img src="{{ 'green_down_arrow.svg' | file_url }}" alt=""></a></div>
        </div>
      </div>
     
    </div>
    
    
        <div class="row yo-result-row-2">
     
      <div class="col-md-5">
        <div class="discover-img">
          <img class="discover-image" src="{{ 'yo_score.png' | file_img_url: '' }}" alt="img">
          <div class="rotate-shape">
          <img class="how-to-image-line-1" src="{{ 'small_brown_vector.svg' | file_url }}" alt="">
          
          </div>
        </div>
      </div>
           <div class="col-md-7">
        <div class="discover-info">
          <h4>Result #2</h4>
          <h3>YO Score</h3>
          <div class="pre-order-text">
          <p>YO Score is a ranking of your motile sperm concentration (MSC) compared to other men who have fathered children.</p>
          <blockquote>
            <p>The result is 10 to 90 in intervals of 10. If your score is 20, you rank above 20% of fathers. If your score is 90, you rank above 90% of fathers. The higher your YO 
              Score, the more likely you are to achieve a pregnancy in a shorter amount of time.</p>
          </blockquote>
          <p>
            YO Score is a reliable tool for monitoring MSC changes over time and is the cornerstone of the fertility improvement tools contained in the YO Application.
          </p>
          </div>
          <div class="read-more-btn"><a href="#">Read More <img src="{{ 'green_down_arrow.svg' | file_url }}" alt=""></a></div>
        </div>
      </div>
    </div>
    
    
    
        <div class="row yo-result-row-3">
     
      <div class="col-md-5 order-md-1">
        <div class="discover-img">
          <img class="discover-image" src="{{ 'sperm_video.png' | file_img_url: '' }}" alt="img">
          <div class="rotate-shape">
          <img class="how-to-image-line-1" src="{{ 'small_yellow_vector.svg' | file_url }}" alt="">
          
          </div>
        </div>
      </div>
           <div class="col-md-7 order-md-2">
        <div class="discover-info">
          <h4>Result #3</h4>
          <h3>Sperm video</h3>
         <div class="pre-order-text">
          <blockquote>
            <p>As part of the YO Home Sperm Test, you will receive a recorded video of your sample. 
              The video offers a clear visual reference to complement your MSC and YO Score results.</p>
          </blockquote>
          <p>Videos are available for sharing with an expert, family, or friends if desired or kept 100% private inside the app for personal viewing.
          </p>
          </div>
          <div class="read-more-btn"><a href="#">Read More <img src="{{ 'green_down_arrow.svg' | file_url }}" alt=""></a></div>
        </div>
      </div>
    </div>
    
    
    
    
  </div>
</div>
{% schema %}
  {
    "name": "YO Results Reference",
    "settings": [],
    "presets": [
      {
        "name": "YO Results Reference"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
