<div class="how-to-redesign yo-video-outer-sec padd-t-b-100">
  <div class="container">
    <div class="heading-1">
      <h2>Watch Videos About YO</h2>
    </div>
    
    <div class="row">
    
      <div class="col-md-4">
      <div class="yo-video-col">
      <div class="yo-video-img">
      <img src="{{ 'yo_video_img01.png' | file_img_url: '' }}" alt="img">
        <div class="yo-overlay"></div>
        <a href="javascript:void(0)" data-video="wMXIz863aUM" class="yo-play-icon mira_video"><img src="{{ 'yo-video-play-icon.svg' | file_url }}" alt=""></a>
      </div>
        <p><a href="javascript:void(0)" data-video="wMXIz863aUM" class="mira_video">YO male fertility kit</a></p>
      </div>
      </div>
      
      <div class="col-md-4">
      <div class="yo-video-col">
      <div class="yo-video-img">
      <img src="{{ 'yo_video_img02.png' | file_img_url: '' }}" alt="img">
        <div class="yo-overlay"></div>
        <a href="javascript:void(0)" data-video="0AEk-ZuBHm4" class="yo-play-icon mira_video"><img src="{{ 'yo-video-play-icon.svg' | file_url }}" alt=""></a>
      </div>
        <p><a href="javascript:void(0)" data-video="0AEk-ZuBHm4" class="mira_video">YO Home Sperm Test 2.0</a></p>
      </div>
      </div>      

      <div class="col-md-4">
      <div class="yo-video-col">
      <div class="yo-video-img">
      <img src="{{ 'yo_video_img03.png' | file_img_url: '' }}" alt="img">
        <div class="yo-overlay"></div>
        <a href="javascript:void(0)" data-video="P38CqamvVGk" class="yo-play-icon mira_video"><img src="{{ 'yo-video-play-icon.svg' | file_url }}" alt=""></a>
      </div>
        <p><a href="javascript:void(0)" data-video="P38CqamvVGk" class="mira_video" >Male semen analysis made easy</a></p>
      </div>
      </div>
      
    
    </div>
        
  </div>
</div>

{% schema %}
  {
    "name": "YO Videos",
    "settings": [],
    "presets": [
      {
        "name": "YO Videos"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
