{{ 'collumndual.css' | asset_url | stylesheet_tag }}
{% assign sub_folder = '' %}
{% if localization.market.handle == 'au' %}
{% assign sub_folder = '/en-au' %}
{% elsif localization.market.handle == 'ca' %}
{% assign sub_folder = '/en-ca' %}
{% elsif localization.market.handle == 'eu' %}
{% assign sub_folder = '/en-eu' %}
{% elsif localization.market.handle == 'uk' %}
{% assign sub_folder = '/en-gb' %}
{% elsif localization.market.handle == 'international' %}
{% assign sub_folder = '/en-int' %}
{% else %}
{% assign sub_folder = '' %}
{% endif %}
<div class="product-listing-page new-layout-listing padd-t-b-60">
    <div class="product-listing-sec">
        <div class="container">
            {% render 'shop-all-tab' %}
            <div class="product-list-row badge-row-sec">
                <div class="heading-1 padd-m-t-0 text-left">
                    <div class="with-arrow-btn">
                        <h3>Boost Your Fertility</h3>
                    </div>
                </div>
                <div id="productlist" class="row accessories-product-list bundles-product-list col-grid">

                    {% if localization.market.handle == 'us' %}

                    {% if all_products['prenatal-multivitamin'].available == true %}
                    <div class="col-md-4">
                        <div class="product-col">
                            <div class="product-img-col">
                                <a href="{{ sub_folder }}/products/prenatal-multivitamin"><img src="{{ 'Prenatal-multi-vitamins.png' | file_img_url: '' }}" alt=""></a>
                                {% include 'product-offer-badge', with offer_label: 'Best Seller' %}
                            </div>
                            <h4>
                                <a href="{{ sub_folder }}/products/prenatal-multivitamin">
                                    {{- all_products['prenatal-multivitamin'].title -}}
                                </a>
                            </h4>
                            <p>{{ all_products.prenatal-multivitamin.metafields.product_fields.sub_title }}</p>
                            <div class="product-price-col">
                                <div class="price-btn-row">
                                    <span class="plat-price">{{ all_products['prenatal-multivitamin'].price | money }}</span>
                                    <div class="old-price"></div>
                                </div>
                                {% include 'subscription-plp-endrock', with string_variable: 'prenatal-multivitamin', with sub_folder: sub_folder, with num: 18 %}
                                <a href="{{ sub_folder }}/products/prenatal-multivitamin" class="btn-custom btn-pink" data-plpBtn="true">Buy&nbsp;now</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    {% if all_products['fertility-tea'].available == true %}
                    <div class="col-md-4">
                        <div class="product-col">
                            <div class="product-img-col">
                                <a href="{{ sub_folder }}/products/fertility-tea"><img src="{{ 'new_fertility_tea_Image.png' | file_img_url: '' }}" alt=""></a>
                            </div>
                            <h4>
                                <a href="{{ sub_folder }}/products/fertility-tea">{{ all_products['fertility-tea'].title }}</a>
                            </h4>
                            <p>{{ all_products.fertility-tea.metafields.product_fields.sub_title }}</p>
                            <div class="product-price-col">
                                <div class="price-btn-row">
                                    <span class="plat-price">{{ all_products['fertility-tea'].price | money }}</span>
                                    <div class="old-price"></div>
                                </div>
                                {% include 'subscription-plp-endrock', with string_variable: 'fertility-tea', with sub_folder: sub_folder, with num: 15 %}
                                <a href="{{ sub_folder }}/products/fertility-tea" class="btn-custom btn-pink" data-plpBtn="true">Buy&nbsp;now</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    {% endif %}

                    {% if localization.market.handle == 'au' or localization.market.handle == 'uk' %}
                    {% if all_products['fertility-tea-ww'].available == true %}
                    <div class="col-md-4">
                        <div class="product-col">
                            <div class="product-img-col">
                                <a href="{{ sub_folder }}/products/fertility-tea-ww"><img src="{{ 'Mira_Fertility_Tea.png' | file_img_url: '' }}" alt=""></a>
                            </div>
                            <h4>
                                <a href="{{ sub_folder }}/products/fertility-tea-ww">{{ all_products['fertility-tea-ww'].title }}</a>
                            </h4>
                            <p>{{ all_products.fertility-tea-ww.metafields.product_fields.sub_title }}</p>
                            <div class="product-price-col">
                                <div class="price-btn-row">
                                    <span class="plat-price">{{ all_products['fertility-tea-ww'].price | money }}</span>
                                    <div class="old-price"></div>
                                </div>
                                {% include 'subscription-plp-endrock', with string_variable: 'fertility-tea-ww', with sub_folder: sub_folder, with num: 16 %}
                                <a href="{{ sub_folder }}/products/fertility-tea-ww" class="btn-custom btn-pink" data-plpBtn="true">Buy&nbsp;now</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endif %}

                    {% if localization.market.handle == 'us' %}
                    {% if all_products['pregnancy-tea'].available == true %}
                    <div class="col-md-4">
                        <div class="product-col">
                            <div class="product-img-col">
                                <a href="{{ sub_folder }}/products/pregnancy-tea"><img src="{{ 'Pregnancy_Tea.png' | file_img_url: '' }}" alt=""></a>
                            </div>
                            <h4>
                                <a href="{{ sub_folder }}/products/pregnancy-tea">{{ all_products['pregnancy-tea'].title }}</a>
                            </h4>
                            <p>{{ all_products.pregnancy-tea.metafields.product_fields.sub_title }}</p>
                            <div class="product-price-col">
                                <div class="price-btn-row">
                                    <span class="plat-price">{{ all_products['pregnancy-tea'].price | money }}</span>
                                    <div class="old-price"></div>
                                </div>
                                {% include 'subscription-plp-endrock', with string_variable: 'pregnancy-tea', with sub_folder: sub_folder, with num: 17 %}
                                <a href="{{ sub_folder }}/products/pregnancy-tea" class="btn-custom btn-pink" data-plpBtn="true">Buy&nbsp;now</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    {% if all_products['biogenesis-fertility-lubricant'].available == true %}
                    <div class="col-md-4">
                        <div class="product-col">
                            <div class="product-img-col">
                                <a href="{{ sub_folder }}/products/biogenesis-fertility-lubricant"><img src="{{ 'BioGenesis_Fertility_Lubricant.png' | file_img_url: '' }}" alt=""></a>
                            </div>
                            <h4>
                                <a href="{{ sub_folder }}/products/biogenesis-fertility-lubricant">
                                    {{- all_products['biogenesis-fertility-lubricant'].title -}}
                                </a>
                            </h4>
                            <p>{{ all_products.biogenesis-fertility-lubricant.metafields.product_fields.sub_title }}</p>
                            <div class="product-price-col">
                                <div class="price-btn-row">
                                    <span class="plat-price">{{ all_products['biogenesis-fertility-lubricant'].price | money }}</span>
                                    <div class="old-price"></div>
                                </div>
                                {% include 'subscription-plp-endrock', with string_variable: 'biogenesis-fertility-lubricant', with sub_folder: sub_folder, with num: 21 %}
                                <a href="{{ sub_folder }}/products/biogenesis-fertility-lubricant" class="btn-custom btn-pink" data-plpBtn="true">Buy&nbsp;now</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    
                    {% endif %}
                    
                </div>
            </div>
            <div class="mira-flat-banner mira-fertility-banner">
                <div class="row">
                    <div class="col-md-6">
                        <div class="flat-banner-left text-white">
                            <div class="flat-banner-left-inner">
                                <h5>
                                    Discover<br class="medium-up--hide">
                                    the<br class="small--hide">
                                    science<br class="medium-up--hide">
                                    behind Mira
                                </h5>
                                <a href="https://www.miracare.com/science/" class="btn-custom white-btn" target="_blank">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="flat-banner-right">
                            <a href="https://www.miracare.com/science/" target="_blank">
                                <img src="{{ 'discover_science_banner_mobile.png' | file_img_url: '' }}" alt="" class="hide-dextop flat-banner-mobile">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
// access the every one mont subscription: all_products['fertility-plus-test-wands'].selling_plan_groups[0].selling_plans[0].id
const product = { { all_products['fertility-plus-test-wands'].selling_plan_groups[0] | json } }
console.log('The Product:', product)
</script>