{{ 'collumndual.css' | asset_url | stylesheet_tag }}
{% assign sub_folder = '' %}
{% if localization.market.handle == 'au' %}
{% assign sub_folder = '/en-au' %}
{% elsif localization.market.handle == 'ca' %}
{% assign sub_folder = '/en-ca' %}
{% elsif localization.market.handle == 'eu' %}
{% assign sub_folder = '/en-eu' %}
{% elsif localization.market.handle == 'uk' %}
{% assign sub_folder = '/en-gb' %}
{% elsif localization.market.handle == 'international' %}
{% assign sub_folder = '/en-int' %}
{% else %}
{% assign sub_folder = '' %}
{% endif %}
<div class="product-listing-page new-layout-listing padd-t-b-60">
    <div class="product-listing-sec">
        <div class="container">
            {% render 'shop-all-tab' %}
            <div class="product-list-row badge-row-sec">
                <div class="heading-1 padd-m-t-0 text-left">
                    <div class="with-arrow-btn">
                        <h3>Navigate Your Fertility</h3>
                    </div>
                </div>
                <div id="productlist" class="row accessories-product-list bundles-product-list col-grid">

                    {% if localization.market.handle == 'us' %}
                    {% if all_products['get-pregnant-bundle'].available == true %}
                    <div class="col-md-4">
                        <div class="product-col">
                            <div class="product-img-col">
                                <a href="{{ sub_folder }}/products/get-pregnant-bundle"><img src="{{ 'bf-get-pregnant-bundle-shop-all.png' | file_img_url: '' }}" alt=""></a>
                                {% include 'product-offer-badge', with offer_label: 'SALE' %}
                            </div>
                            <h4>
                                <a href="{{ sub_folder }}/products/get-pregnant-bundle">
                                    {{- all_products['get-pregnant-bundle'].title -}}
                                </a>
                            </h4>
                            <p>{{ all_products['get-pregnant-bundle'].metafields.product_fields.sub_title }}</p>
                            <div class="product-price-col">
                                <div class="price-btn-row">
                                    <span class="plat-price">
                                        {{- all_products['get-pregnant-bundle'].first_available_variant.price | money -}}
                                    </span>
                                    <div class="old-price">{{ all_products['get-pregnant-bundle'].compare_at_price | money }}</div>
                                </div>
                                {% include 'subscription-plp-endrock', with string_variable: 'get-pregnant-bundle', with sub_folder: sub_folder, with num: 1 %}
                                <a href="{{ sub_folder }}/products/get-pregnant-bundle" class="btn-custom btn-pink" data-plpBtn="true">Buy&nbsp;now</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endif %}

                    {% if all_products.coaching.available == true %}
                    <div class="col-md-4">
                        <div class="product-col">
                            <div class="product-img-col">
                                <a href="{{ sub_folder }}/products/coaching"><img src="{{ 'Virtual_OBGYN_Consultation.png' | file_img_url: '' }}" alt=""></a>
                                {% include 'product-offer-badge', with offer_label: 'NEW' %}
                            </div>
                            <h4>
                                <a href="{{ sub_folder }}/products/coaching">{{ all_products.coaching.title }}</a>
                            </h4>
                            <p>{{ all_products.coaching.metafields.product_fields.sub_title }}</p>
                            <div class="product-price-col">
                                <div class="price-btn-row">
                                    <span class="plat-price">{{ all_products.coaching.first_available_variant.price | money }}</span>
                                    <div class="old-price"></div>
                                </div>
                                {% include 'subscription-plp-endrock', with string_variable: 'coaching', sub_folder: sub_folder %}
                                <a href="{{ sub_folder }}/products/coaching" class="btn-custom btn-pink" data-plpBtn="true">Buy&nbsp;now</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    {% if all_products.academy.available == true %}
                    <div class="col-md-4 hide_ios">
                        <div class="product-col">
                            <div class="product-img-col">
                                <a href="{{ sub_folder }}/products/academy"><img src="{{ 'Online_Fertility_Course.png' | file_img_url: '' }}" alt=""></a>
                                {% include 'product-offer-badge', with offer_label: 'SALE' %}
                            </div>
                            <h4>
                                <a href="{{ sub_folder }}/products/academy">
                                {{- all_products['academy'].title -}}
                                </a>
                            </h4>
                            <p>{{ all_products.academy.metafields.product_fields.sub_title }}</p>
                            <div class="product-price-col">
                                <div class="price-btn-row">
                                    <span class="plat-price">{{ all_products.academy.price | money }}</span>
                                    <div class="old-price"></div>
                                </div>
                                {% include 'subscription-plp-endrock', with string_variable: 'academy', with sub_folder: sub_folder, with num: 19 %}
                                <a href="{{ sub_folder }}/products/academy" class="btn-custom btn-pink" data-plpBtn="true">Buy&nbsp;now</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    {% if all_products['fertility-meditations'].available == true %}
                    <div class="col-md-4 hide_ios">
                        <div class="product-col">
                            <div class="product-img-col">
                                <a href="{{ sub_folder }}/products/fertility-meditations"><img src="{{ 'Meditation_Playlist.png' | file_img_url: '' }}" alt=""></a>
                            </div>
                            <h4>
                                <a href="{{ sub_folder }}/products/fertility-meditations">
                                    {{- all_products['fertility-meditations'].title -}}
                                </a>
                            </h4>
                            <p>{{ all_products.fertility-meditations.metafields.product_fields.sub_title }}</p>
                            <div class="product-price-col">
                                <div class="price-btn-row">
                                    <span class="plat-price">{{ all_products['fertility-meditations'].price | money }}</span>
                                    <div class="old-price"></div>
                                </div>
                                {% include 'subscription-plp-endrock', with string_variable: 'fertility-meditations', with sub_folder: sub_folder, with num: 20 %}
                                <a href="{{ sub_folder }}/products/fertility-meditations" class="btn-custom btn-pink" data-plpBtn="true">Buy&nbsp;now</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    
                </div>
            </div>
            <div class="mira-flat-banner mira-fertility-banner">
                <div class="row">
                    <div class="col-md-6">
                        <div class="flat-banner-left text-white">
                            <div class="flat-banner-left-inner">
                                <h5>
                                    Discover<br class="medium-up--hide">
                                    the<br class="small--hide">
                                    science<br class="medium-up--hide">
                                    behind Mira
                                </h5>
                                <a href="https://www.miracare.com/science/" class="btn-custom white-btn" target="_blank">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="flat-banner-right">
                            <a href="https://www.miracare.com/science/" target="_blank">
                                <img src="{{ 'discover_science_banner_mobile.png' | file_img_url: '' }}" alt="" class="hide-dextop flat-banner-mobile">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
// access the every one mont subscription: all_products['fertility-plus-test-wands'].selling_plan_groups[0].selling_plans[0].id
const product = { { all_products['fertility-plus-test-wands'].selling_plan_groups[0] | json } }
console.log('The Product:', product)
</script>