{{ 'collumndual.css' | asset_url | stylesheet_tag }}
{% assign sub_folder = '' %}
{% if localization.market.handle == 'au' %}
{% assign sub_folder = '/en-au' %}
{% elsif localization.market.handle == 'ca' %}
{% assign sub_folder = '/en-ca' %}
{% elsif localization.market.handle == 'eu' %}
{% assign sub_folder = '/en-eu' %}
{% elsif localization.market.handle == 'uk' %}
{% assign sub_folder = '/en-gb' %}
{% elsif localization.market.handle == 'international' %}
{% assign sub_folder = '/en-int' %}
{% else %}
{% assign sub_folder = '' %}
{% endif %}
<div class="product-listing-page new-layout-listing padd-t-b-60">
    <div class="product-listing-sec">
        <div class="container">
            {% render 'shop-all-tab' %}
            <div class="product-list-row badge-row-sec">
                <div class="heading-1 padd-m-t-0 text-left">
                    <div class="with-arrow-btn">
                        <h3>Restock Your Wands</h3>
                    </div>
                </div>
                <div id="productlist" class="row accessories-product-list bundles-product-list col-grid">

                    

                    {% if all_products['wands-bundle'].available == true %}
                    <div class="col-md-4">
                        <div class="product-col">
                            <div class="product-img-col">
                                <a href="{{ sub_folder }}/products/wands-bundle"><img src="{{ 'bf-wands-bundle-shop-all.png' | file_img_url: '' }}" alt=""></a>
                                {% include 'product-offer-badge', with offer_label: 'SALE' %}
                            </div>
                            <h4>
                                <a href="{{ sub_folder }}/products/wands-bundle">{{ all_products['wands-bundle'].title }}</a>
                            </h4>
                            <p>{{ all_products['wands-bundle'].metafields.product_fields.sub_title }}</p>
                            <div class="product-price-col">
                                <div class="price-btn-row">
                                    <span class="plat-price">
                                        {{- all_products['wands-bundle'].first_available_variant.price | money -}}
                                    </span>
                                    <div class="old-price">{{ all_products['wands-bundle'].compare_at_price | money }}</div>
                                </div>
                                {% include 'subscription-plp-endrock', with string_variable: 'wands-bundle', with sub_folder: sub_folder, with num: 6 %}
                                <a href="{{ sub_folder }}/products/wands-bundle" class="btn-custom btn-pink" data-plpBtn="true">Buy&nbsp;now</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if all_products['mira-max-test-wands'].available == true %}
                    <div class="col-md-4">
                        <div class="product-col">
                            <div class="product-img-col">
                                <a href="{{ sub_folder }}/products/mira-max-test-wands"><img src="{{ '20_Mira_Fertility_MAX_Wands.png' | file_img_url: '' }}" alt=""></a>
                                {% include 'product-offer-badge', with offer_label: 'Best Seller' %}
                            </div>
                            <h4>
                                <a href="{{ sub_folder }}/products/mira-max-test-wands">
                                    {{- all_products['mira-max-test-wands'].title -}}
                                </a>
                            </h4>
                            <p>{{ all_products['mira-max-test-wands'].metafields.product_fields.sub_title }}</p>
                            <div class="product-price-col">
                                <div class="price-btn-row">
                                    <span class="plat-price">{{ all_products['mira-max-test-wands'].price | money }}</span>
                                    <div class="old-price">{{ all_products['mira-max-test-wands'].compare_at_price | money }}</div>
                                </div>
                                {% include 'subscription-plp-endrock', with string_variable: 'mira-max-test-wands', with sub_folder: sub_folder, with num: 7 %}
                                <a href="{{ sub_folder }}/products/mira-max-test-wands" class="btn-custom btn-pink" data-plpBtn="true">Buy&nbsp;now</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if all_products['fertility-plus-test-wands'].available == true %}
                    <div class="col-md-4">
                        <div class="product-col">
                            <div class="product-img-col">
                                <a href="{{ sub_folder }}/products/fertility-plus-test-wands"><img src="{{ '20_Mira_Fertility_Plus_Wands.png' | file_img_url: '' }}" alt=""></a>
                            </div>
                            <h4>
                                <a href="{{ sub_folder }}/products/fertility-plus-test-wands">
                                    {{- all_products['fertility-plus-test-wands'].title -}}
                                </a>
                            </h4>
                            <p>{{ all_products['fertility-plus-test-wands'].metafields.product_fields.sub_title }}</p>
                            <div class="product-price-col">
                                <div class="price-btn-row">
                                    <span class="plat-price">{{ all_products['fertility-plus-test-wands'].price | money }}</span>
                                    <div class="old-price">{{ all_products['fertility-plus-test-wands'].compare_at_price | money }}</div>
                                </div>
                                {% include 'subscription-plp-endrock', with string_variable: 'fertility-plus-test-wands', with sub_folder: sub_folder, with num: 8 %}
                                <a href="{{ sub_folder }}/products/fertility-plus-test-wands" class="btn-custom btn-pink" data-plpBtn="true">Buy&nbsp;now</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if all_products['fertility-ovum-wands'].available == true %}
                    <div class="col-md-4">
                        <div class="product-col">
                            <div class="product-img-col">
                                <a href="{{ sub_folder }}/products/fertility-ovum-wands"><img src="{{ '20_Mira_Ovum_Wands.png' | file_img_url: '' }}" alt=""></a>
                                {% include 'product-offer-badge', with offer_label: 'NEW' %}
                            </div>
                            <h4>
                                <a href="{{ sub_folder }}/products/fertility-ovum-wands">
                                    {{- all_products['fertility-ovum-wands'].title -}}
                                </a>
                            </h4>
                            <p>{{ all_products['fertility-ovum-wands'].metafields.product_fields.sub_title }}</p>
                            <div class="product-price-col">
                                <div class="price-btn-row">
                                    <span class="plat-price">{{ all_products['fertility-ovum-wands'].price | money }}</span>
                                    <div class="old-price">{{ all_products['fertility-ovum-wands'].compare_at_price | money }}</div>
                                </div>
                                {% include 'subscription-plp-endrock', with string_variable: 'fertility-ovum-wands', with sub_folder: sub_folder, with num: 9 %}
                                <a href="{{ sub_folder }}/products/fertility-ovum-wands" class="btn-custom btn-pink" data-plpBtn="true">Buy&nbsp;now</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if all_products['fertility-confirm-test-wands'].available == true %}
                    <div class="col-md-4">
                        <div class="product-col">
                            <div class="product-img-col">
                                <a href="{{ sub_folder }}/products/fertility-confirm-test-wands"><img src="{{ '20_Mira_Fertility_Confirm_Wands.png' | file_img_url: '' }}" alt=""></a>
                            </div>
                            <h4>
                                <a href="{{ sub_folder }}/products/fertility-confirm-test-wands">
                                    {{- all_products['fertility-confirm-test-wands'].title -}}
                                </a>
                            </h4>
                            <p>{{ all_products['fertility-confirm-test-wands'].metafields.product_fields.sub_title }}</p>
                            <div class="product-price-col">
                                <div class="price-btn-row">
                                    <span class="plat-price">{{ all_products['fertility-confirm-test-wands'].price | money }}</span>
                                    <div class="old-price">
                                        {{ all_products['fertility-confirm-test-wands'].compare_at_price | money }}
                                    </div>
                                </div>
                                {% include 'subscription-plp-endrock', with string_variable: 'fertility-confirm-test-wands', with sub_folder: sub_folder, with num: 10 %}
                                <a href="{{ sub_folder }}/products/fertility-confirm-test-wands" class="btn-custom btn-pink" data-plpBtn="true">Buy&nbsp;now</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    
                </div>
            </div>
            <div class="mira-flat-banner mira-fertility-banner">
                <div class="row">
                    <div class="col-md-6">
                        <div class="flat-banner-left text-white">
                            <div class="flat-banner-left-inner">
                                <h5>
                                    Discover<br class="medium-up--hide">
                                    the<br class="small--hide">
                                    science<br class="medium-up--hide">
                                    behind Mira
                                </h5>
                                <a href="https://www.miracare.com/science/" class="btn-custom white-btn" target="_blank">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="flat-banner-right">
                            <a href="https://www.miracare.com/science/" target="_blank">
                                <img src="{{ 'discover_science_banner_mobile.png' | file_img_url: '' }}" alt="" class="hide-dextop flat-banner-mobile">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
// access the every one mont subscription: all_products['fertility-plus-test-wands'].selling_plan_groups[0].selling_plans[0].id
const product = { { all_products['fertility-plus-test-wands'].selling_plan_groups[0] | json } }
console.log('The Product:', product)
</script>