{% assign sub_folder = '' %}
{% if localization.market.handle == 'au' %}
{% assign sub_folder = '/en-au' %}
{% elsif localization.market.handle == 'ca' %}
{% assign sub_folder = '/en-ca' %}
{% elsif localization.market.handle == 'eu' %}
{% assign sub_folder = '/en-eu' %}
{% elsif localization.market.handle == 'uk' %}
{% assign sub_folder = '/en-gb' %}
{% elsif localization.market.handle == 'international' %}
{% assign sub_folder = '/en-int' %}
{% else %}
{% assign sub_folder = '' %}
{% endif %}
<div class="product-listing-page new-layout-listing padd-t-b-60">
    <div class="product-listing-sec">
        <div class="container">
            {% render 'shop-all-tab' %}
            <div class="product-list-row badge-row-sec">
                <div class="heading-1 padd-m-t-0 text-left">
                    <div class="with-arrow-btn">
                        <h3>Best Sellers</h3>
                    </div>
                </div>
                <div class="row accessories-product-list bundles-product-list" id="productlist">
                    {% if all_products['mira-max-test-wands'].available == true %}
                    <div class="col-md-4">
                        <div class="product-col">
                            <div class="product-img-col">
                                <a href="{{ sub_folder }}/products/mira-max-test-wands"><img src="{{ '20_Mira_Fertility_MAX_Wands.png' | file_img_url: '' }}" alt="" /></a>
                                {% include 'product-offer-badge', with offer_label: 'Best Seller' %}
                            </div>
                            <h4><a href="{{ sub_folder }}/products/mira-max-test-wands">{{
                                    all_products['mira-max-test-wands'].title }}</a></h4>
                            {% if all_products['mira-max-test-wands'].metafields.product_fields.sub_title != blank %}
                            <p>{{ all_products['mira-max-test-wands'].metafields.product_fields.sub_title }}</p>
                            {% endif %}
                            <div class="product-price-col">
                                <div class="price-btn-row">
                                    <span class="plat-price">{{ all_products['mira-max-test-wands'].price | money
                                        }}</span>
                                    <div class="old-price">{{ all_products['mira-max-test-wands'].compare_at_price |
                                        money }}</div>
                                </div>
                                {% include 'subscription-plp-endrock', with string_variable: 'mira-max-test-wands', with sub_folder: sub_folder, with num: 160 %}
                                <a href="{{ sub_folder }}/products/mira-max-test-wands" class="btn-custom btn-pink" data-plpBtn="true">Buy
                                    now</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if all_products['fertility-max-starter-kit'].available == true %}
                    <div class="col-md-4">
                        <div class="product-col">
                            <div class="product-img-col"><a href="{{ sub_folder }}/products/fertility-max-starter-kit"><img src="{{ 'max-kit.png' | file_img_url: '' }}" alt="" /></a>
                                {% include 'product-offer-badge', with offer_label: 'Best Seller' %}
                            </div>
                            <h4><a href="{{ sub_folder }}/products/fertility-max-starter-kit">{{
                                    all_products['fertility-max-starter-kit'].title }}</a></h4>
                            {% if all_products['fertility-max-starter-kit'].metafields.product_fields.sub_title != blank %}
                            <p>{{ all_products['fertility-max-starter-kit'].metafields.product_fields.sub_title }}</p>
                            {% endif %}
                            <div class="product-price-col">
                                <div class="price-btn-row">
                                    <span class="plat-price">{{ all_products['fertility-max-starter-kit'].price | money
                                        }}</span>
                                    <div class="old-price">{{ all_products['fertility-max-starter-kit'].compare_at_price
                                        | money }}</div>
                                </div>
                                {% include 'subscription-plp-endrock', with string_variable: 'fertility-max-starter-kit', with sub_folder: sub_folder, with num: 161 %}
                                <a href="{{ sub_folder }}/products/fertility-max-starter-kit" class="btn-custom btn-pink" data-plpBtn="true">Buy now</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if all_products['wands-bundle'].available == true %}
                    <div class="col-md-4">
                        <div class="product-col">
                            <div class="product-img-col">
                                <a href="{{ sub_folder }}/products/wands-bundle"><img src="{{ 'bf-wands-bundle-shop-all.png' | file_img_url: '' }}" alt="" /></a>
                                {% include 'product-offer-badge', with offer_label: 'SALE' %}
                            </div>
                            <h4><a href="{{ sub_folder }}/products/wands-bundle">{{
                                    all_products['wands-bundle'].title }}</a></h4>
                            {% if all_products['wands-bundle'].metafields.product_fields.sub_title != blank %}
                            <p>{{ all_products['wands-bundle'].metafields.product_fields.sub_title }}</p>
                            {% endif %}
                            <div class="product-price-col">
                                <div class="price-btn-row">
                                    <span class="plat-price">{{ all_products['wands-bundle'].price | money
                                        }}</span>
                                    <div class="old-price">{{ all_products['wands-bundle'].compare_at_price |
                                        money }}</div>
                                </div>
                                {% include 'subscription-plp-endrock', with string_variable: 'wands-bundle', with sub_folder: sub_folder, with num: 162 %}
                                <a href="{{ sub_folder }}/products/wands-bundle" class="btn-custom btn-pink" data-plpBtn="true">Buy
                                    now</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if localization.market.handle == 'us' %}
                    {% if all_products['basal-body-thermometer'].available == true %}
                    <div class="col-md-4">
                        <div class="product-col">
                            <div class="product-img-col">
                                <a href="{{ sub_folder }}/products/basal-body-thermometer"><img src="{{ 'bbt-shop.png' | file_img_url: '' }}" alt="" /></a>
                                {% include 'product-offer-badge', with offer_label: 'NEW' %}
                            </div>
                            <h4><a href="{{ sub_folder }}/products/basal-body-thermometer">{{
                                    all_products['basal-body-thermometer'].title }}</a></h4>
                            {% if all_products['basal-body-thermometer'].metafields.product_fields.sub_title != blank %}
                            <p>{{ all_products['basal-body-thermometer'].metafields.product_fields.sub_title }}</p>
                            {% endif %}
                            <div class="product-price-col">
                                <div class="price-btn-row">
                                    <span class="plat-price">{{ all_products['basal-body-thermometer'].price |
                                        money }}</span>
                                    <div class="old-price">{{
                                        all_products['basal-body-thermometer'].compare_at_price | money }}</div>
                                </div>
                                {% include 'subscription-plp-endrock', with string_variable: 'basal-body-thermometer', with sub_folder: sub_folder, with num: 163 %}
                                <a href="{{ sub_folder }}/products/basal-body-thermometer" class="btn-custom btn-pink" data-plpBtn="true">Buy now</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if all_products['prenatal-multivitamin'].available == true %}
                    <div class="col-md-4">
                        <div class="product-col">
                            <div class="product-img-col">
                                <a href="{{ sub_folder }}/products/prenatal-multivitamin"><img src="{{ 'Prenatal-multi-vitamins.png' | file_img_url: '' }}" alt="" /></a>
                                {% include 'product-offer-badge', with offer_label: 'Best Seller' %}
                            </div>
                            <h4><a href="{{ sub_folder }}/products/prenatal-multivitamin">{{
                                    all_products['prenatal-multivitamin'].title }}</a></h4>
                            {% if all_products['prenatal-multivitamin'].metafields.product_fields.sub_title != blank %}
                            <p>{{ all_products['prenatal-multivitamin'].metafields.product_fields.sub_title }}</p>
                            {% endif %}
                            <div class="product-price-col">
                                <div class="price-btn-row">
                                    <span class="plat-price">{{ all_products['prenatal-multivitamin'].price |
                                        money }}</span>
                                    <div class="old-price">{{
                                        all_products['prenatal-multivitamin'].compare_at_price | money }}</div>
                                </div>
                                {% include 'subscription-plp-endrock', with string_variable: 'prenatal-multivitamin', with sub_folder: sub_folder, with num: 164 %}
                                <a href="{{ sub_folder }}/products/prenatal-multivitamin" class="btn-custom btn-pink" data-plpBtn="true">Buy now</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if all_products['get-pregnant-bundle'].available == true %}
                    <div class="col-md-4">
                        <div class="product-col">
                            <div class="product-img-col">
                                <a href="{{ sub_folder }}/products/get-pregnant-bundle"><img src="{{ 'bf-get-pregnant-bundle-shop-all.png' | file_img_url: '' }}" alt="" /></a>
                                {% include 'product-offer-badge', with offer_label: 'SALE' %}
                            </div>
                            <h4><a href="{{ sub_folder }}/products/get-pregnant-bundle">{{
                                    all_products['get-pregnant-bundle'].title }}</a></h4>
                            {% if all_products['get-pregnant-bundle'].metafields.product_fields.sub_title != blank %}
                            <p>{{ all_products['get-pregnant-bundle'].metafields.product_fields.sub_title }}</p>
                            {% endif %}
                            <div class="product-price-col">
                                <div class="price-btn-row">
                                    <span class="plat-price">{{ all_products['get-pregnant-bundle'].price |
                                        money }}</span>
                                    <div class="old-price">{{
                                        all_products['get-pregnant-bundle'].compare_at_price | money }}</div>
                                </div>
                                {% include 'subscription-plp-endrock', with string_variable: 'get-pregnant-bundle', with sub_folder: sub_folder, with num: 165 %}
                                <a href="{{ sub_folder }}/products/get-pregnant-bundle" class="btn-custom btn-pink" data-plpBtn="true">Buy now</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endif %}
                    {% if all_products['coaching'].available == true %}
                    <div class="col-md-4">
                        <div class="product-col">
                            <div class="product-img-col">
                                <a href="{{ sub_folder }}/products/coaching"><img src="{{ 'Virtual_OBGYN_Consultation.png' | file_img_url: '' }}" alt="" /></a>
                                {% include 'product-offer-badge', with offer_label: 'NEW' %}
                            </div>
                            <h4><a href="{{ sub_folder }}/products/coaching">{{
                                    all_products['coaching'].title }}</a></h4>
                            {% if all_products['coaching'].metafields.product_fields.sub_title != blank %}
                            <p>{{ all_products['coaching'].metafields.product_fields.sub_title }}</p>
                            {% endif %}
                            <div class="product-price-col">
                                <div class="price-btn-row">
                                    <span class="plat-price">{{ all_products['coaching'].price |
                                        money }}</span>
                                    <div class="old-price">{{
                                        all_products['coaching'].compare_at_price | money }}</div>
                                </div>
                                {% include 'subscription-plp-endrock', with string_variable: 'coaching', with sub_folder: sub_folder, with num: 166 %}
                                <a href="{{ sub_folder }}/products/coaching" class="btn-custom btn-pink" data-plpBtn="true">Buy now</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    
                </div>
            </div>
            <div class="mira-flat-banner mira-fertility-banner">
                <div class="row">
                    <div class="col-md-6">
                        <div class="flat-banner-left text-white">
                            <div class="flat-banner-left-inner">
                                <h5>Discover<br class="medium-up--hide"> the<br class="small--hide"> science<br class="medium-up--hide"> behind Mira</h5>
                                <a href="https://www.miracare.com/science/" class="btn-custom white-btn" target="_blank">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="flat-banner-right">
                            <a href="https://www.miracare.com/science/" target="_blank">
                                <img src="{{ 'discover_science_banner_mobile.png' | file_img_url: '' }}" alt="" class="hide-dextop flat-banner-mobile" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
// access the every one mont subscription: all_products['fertility-plus-test-wands'].selling_plan_groups[0].selling_plans[0].id
const product = { { all_products['fertility-plus-test-wands'].selling_plan_groups[0] | json } }
console.log('The Product:', product)
</script>